@import url(./banner-section-article.css);
@import url(./highlighted-articles.css);
@import url(./two-cols-rows-featured-articles.css);
@import url(./three-cols-articles.css);
@import url(./three-cols-articles-modal.css);
@import url(./featured-title.css);
@import url(./featured-date-title.css);

.all-featured-articles .category a:hover,
.all-featured-articles h3 a:hover,
.all-featured-articles .date a:hover {
  text-decoration: none;
}

.all-featured-articles .date a:hover {
  color: var(--date-color);
}

/* Article Category */
.all-featured-articles .category {
  display: flex;
  margin: 0;
  margin-top: 20px;
}

.all-featured-articles .category a {
  display: flex;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--main-text-color);
  border: 1px solid rgb(204, 204, 204);
  padding: 0% 2%;
  letter-spacing: 1.5px;
}

/* Article Title */
.all-featured-articles h3 {
  display: flex;
  margin: 0;
  margin-top: 13px;
}

.all-featured-articles h3 a {
  display: flex;
  width: 100%;
  font-weight: 600;
  text-transform: inherit;
  color: var(--main-text-color);
}

/* Date */
.all-featured-articles .date {
  margin: 1%;
}
.all-featured-articles .date a {
  font-size: var(--sub-text-secondary-size);
  color: var(--date-color);
  font-weight: 400;
}

.featured-date-title h3 {
  margin-top: 0;
}

.featured-date-title h3 a {
  font-weight: 400;
}

.featured-date-title .date {
  margin-top: 13px;
}

.featured-date-title .date a {
  color: var(--sub-text-grey);
}

@media (width >= 992px) {
  /* Highlights Section */
  .highlighted-articles .category,
  .highlighted-articles h3,
  .highlighted-articles .date {
    padding-left: 4%;
  }

  /* 2 Cols & Rows Section */
  .two-cols-rows-featured-articles {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Three cols articles */
  .three-cols-articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .three-cols-articles img {
    aspect-ratio: 480/302;
  }
}

/* Title only */
.featured-title .category a,
.featured-title .date {
  display: none;
}

.featured-title .category {
  margin-top: 0;
}

.featured-title h3 a {
  font-weight: 400;
  font-size: var(--sub-text-secondary-size);
  color: var(--text-date-color);
  text-transform: inherit;
}

@media (width <= 991px) {
  /* Banner Section */
  .banner-section-articles {
    height: 643px;
  }

  /* Banner Section Articles  */
  .banner-section-articles {
    min-height: 50vh;
    height: auto;
  }

  .banner-section-articles picture,
  .banner-section-articles img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .banner-section-article h3 a {
    font-size: 22px;
  }

  .banner-section-article .category a {
    font-size: 12px;
  }

  /* Highlights Section */
  .highlighted-articles,
  .featured-date-title {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .highlighted-articles::-webkit-scrollbar,
  .featured-date-title::-webkit-scrollbar {
    display: none;
  }

  .highlighted-articles .article-card {
    flex: 0 0 auto;
    flex-basis: 70%;
    width: 652px;
    max-width: 100%;
  }

  .highlighted-articles img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .highlighted-articles h3 a {
    font-size: 16px;
  }

  /* 2 Cols & Rows Section */
  .two-cols-rows-featured-articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .two-cols-rows-featured-articles img {
    margin-top: 2%;
  }

  .two-cols-rows-featured-articles .category,
  .two-cols-rows-featured-articles h3,
  .two-cols-rows-featured-articles .date {
    margin-left: 0;
  }

  /* Three cols articles */
  .three-cols-articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .three-cols-articles div {
    display: flex;
    flex-direction: row;
  }

  .three-cols-articles div div {
    flex-direction: column;
  }

  .three-cols-articles img {
    aspect-ratio: 465/293;
  }

  .three-cols-articles .article-image,
  .three-cols-articles .article-content {
    flex: 1;
  }

  .three-cols-articles .article-content {
    margin-left: 2%;
  }

  .three-cols-articles .category a {
    font-size: 12px;
  }

  .three-cols-articles h3 a {
    font-size: 16px;
  }

  .three-cols-articles .article-content .category {
    display: flex;
    margin-top: 0;
  }

  /* features-modal */
  .three-cols-articles-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  .three-cols-articles-modal .article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 80%;
    flex-basis: 30%;
    width: 358px;
    justify-content: center;
    max-width: 358px;
  }

  .three-cols-articles-modal .article-card:nth-child(1) {
    border-top: 1px solid var(--sub-text-border-divider);
    padding-top: 10%;
  }

  .three-cols-articles-modal img {
    width: 358px;
    max-width: 396px;
    height: 200px;
    object-fit: cover;
  }

  .three-cols-articles-modal .article-content {
    justify-content: flex-start;
    width: 100%;
  }

  .featured-date-title .article-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-basis: 70%;
    width: 408px;
    max-width: 408px;
  }

  .featured-date-title img {
    width: 100%;
    max-width: 408px;
    max-height: 270px;
    height: auto;
    object-fit: cover;
  }
}
