.featured-title {
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
  align-content: start;
}

/* Featured Text */
.featured-title::before {
  content: 'Featured';
  display: block;
  grid-column: span 2;
}

.featured-title::before,
.latest-modal-brands div div p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-modal-latest-content-section .columns-wrapper {
  border: 2px solid transparent;
  margin: 0 auto;
  display: flex;
}

.nav-modal-latest-content-section .latest-modal-brands p {
  padding: 0.5%;
  width: 100%;
}
.featured-title img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 326px;
  max-height: 183px;
}

.featured-title .article-card {
  max-width: 326px;
}

@media (width >= 992px) {
  .nav-modal-latest-content-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90vw;
    /* height: 80vh; */
    gap: 40px;
  }
  .all-featured-articles-wrapper {
    margin: 0 !important;
    padding: auto;
  }
}

@media (width <= 991px) {
  .featured-title {
    display: none;
  }

  .nav-modal-latest-content-section {
    flex-direction: column;
  }

  .nav-modal-latest-content-section .columns-wrapper {
    margin: 0;
    margin-left: 5vw;
  }

  .latest-modal-brands div div p {
    display: none;
    margin-top: 0;
    padding-top: 0;
  }

  .latest-modal div ul li,
  .latest-modal-brands div ul li {
    margin-bottom: 4vh;
  }
  .latest-modal div ul {
    margin-bottom: 0%;
  }

  .latest-modal-brands div ul {
    margin-top: 0;
  }
}
