.nav-modal-latest-content-section .featured-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  align-content: start;
}

/* Featured Text */
.featured-title::before {
  content: 'Featured';
  display: block;
  grid-column: span 2;
}

.featured-title::before,
.latest-modal-brands div div p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-modal-latest-content-section .columns-wrapper {
  border: 2px solid transparent;
  margin: 0;
  display: flex;
  flex: 1;
}

.featured-title img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 326px;
  max-height: 183px;
}

.featured-title .article-card {
  max-width: 326px;
}

@media (width >= 992px) {
  .nav-modal-content > .all-featured-articles-wrapper {
    margin: 0 !important;
    padding: auto !important;
    max-width: 143px;
  }

  .nav-modal-latest-content-section .latest-modal-brands p {
    padding: 0.5%;
    width: 100%;
  }
}

@media (width <= 991px) {
  .latest-modal-brands div div p {
    margin-top: 0;
    padding-top: 0;
  }

  .latest-modal div ul {
    margin-bottom: 0%;
  }

  .latest-modal-brands div ul {
    margin-top: 0;
  }

  .nav-modal-latest-content-section .columns-wrapper {
    height: auto;
    position: relative;
    display: flex;
  }
}
