.two-cols-rows-featured-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.two-cols-rows-featured-articles img {
  display: flex;
  flex: 1;
  width: 100%;
  aspect-ratio: 618/389;
}

.two-cols-rows-featured-articles h3 a {
  font-size: 24px;
}
