.carousel-border-gray {
  background-color: var(--sub-text-background-color);
}

/* Div */
.big-latest-featured-articles {
  display: flex;
  margin: 0 auto;
  padding: 0;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

/* image */
.big-latest-featured-articles .image {
  display: flex;
  justify-content: center;
}

.big-latest-featured-articles .image .placeholder {
  width: 250px;
  height: 250px;
}

.big-latest-featured-articles .image picture > img {
  display: block;
  width: 378px;
  height: 252px;
  margin-bottom: 5%;
}

/* Product details */
.big-latest-featured-articles .details {
  display: flex;
  flex-direction: column;
}

.big-latest-featured-articles .actions {
  display: flex;
  gap: 20px;
  margin-top: auto;
  justify-content: center;
}

/* Product Brand */
.big-latest-featured-articles .brand {
  color: var(--sub-text-grey);
  font-size: var(--sub-text-small);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.0857143rem;
  margin: 3% 0;
}

/* Product Name */
.big-latest-featured-articles h1 a {
  text-decoration: none;
  letter-spacing: 0.114286rem;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--sub-text-title-color);
  font-weight: 500;
}

.big-latest-featured-articles h1 {
  font-size: var(--sub-text-secondary-size);
  letter-spacing: var(--type-headline-1-letter-spacing);
  text-transform: capitalize;
  height: auto;
  padding: 0;
  padding-top: 15%;
}

.big-latest-featured-articles h1 a:hover {
  color: var(--sub-text-grey);
  cursor: pointer;
  text-decoration: none;
}

/* Product Price */
.big-latest-featured-articles .price {
  font-weight: 400;
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  color: var(--sub-text-title-color);
}

.big-latest-featured-articles .price .price-regular {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  color: var(--color-neutral-600);
  text-decoration: line-through;
}

.big-latest-featured-articles .price .price-range {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.big-latest-featured-articles .price .price-range .price-from {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.big-latest-featured-articles .price .price-final {
  font-size: var(--sub-text-secondary-size);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

/* Details button */
.big-latest-featured-articles .product .actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.big-latest-featured-articles .product .actions a {
  border-radius: 0;
}

.latest-articles-page .product h1 {
  margin: 0;
  line-height: 0px;
}

.latest-articles-page .product h1 a {
  font-size: 20px;
  color: var(--sub-text-title-color);
}

@media (width >= 200px) {
  .big-latest-featured-articles {
    flex-direction: row;
  }

  .big-latest-featured-articles .details {
    flex: 1;
    padding-top: 3%;
  }

  .big-latest-featured-articles .actions {
    justify-content: flex-start;
  }

  .latest-articles-page .product {
    position: relative;
    margin: 0 auto;
    width: 376px;
    gap: 30px;
    flex: 1;
  }

  .latest-articles-page .product {
    margin-bottom: 2%;
  }

  .latest-articles-page .image picture > img {
    width: 408px;
    height: 243px;
    margin: 0 auto;
  }

  .latest-articles-page .product .details {
    justify-content: flex-start;
    margin: 0;
  }

  .launches-page-products {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    z-index: 1;
    width: 100%;
    margin-top: -13vh;
  }

  .launches-page-products div:nth-child(2) div {
    padding-top: 3%;
  }

  .launches-page-products div:nth-child(2) div p {
    font-size: var(--sub-text-secondary-size);
    color: var(--sub-text-grey);
    font-weight: 400;
  }

  .launches-page-products div div {
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
  }

  .launches-page-products div:nth-child(1) div p {
    display: flex;
    font-size: 10px;
    color: var(--sub-text-title-color);
    border: 1px solid rgb(204, 204, 204);
    text-transform: uppercase;
    padding: 4%;
    align-items: center;
  }
}

@media (width <= 1130px) {
  .launches-page-products {
    margin-top: -12vh;
  }

  .launches-page-products div:nth-child(2) div {
    padding-top: 2%;
  }
}

@media (width <= 1100px) {
  .launches-page-products {
    margin-top: -14vh;
  }

  .launches-page-products div:nth-child(2) div {
    padding-top: 4%;
  }
}

@media (width <= 1031px) {
  .launches-page-products {
    margin-top: -14vh;
  }

  .launches-page-products div:nth-child(2) div {
    padding-top: 5%;
  }
}
@media (width <= 1000px) {
  .launches-section {
    width: 1020px;
  }

  .launches-section div {
    flex-direction: unset;
  }
  .launches-page-products {
    width: 1350px;
  }

  .launches-page-products div {
    flex-direction: unset;
  }

  .carousel-border-gray {
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
  }

  .big-latest-featured-articles {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 10px;
    width: max-content;
    height: auto;
    box-sizing: border-box;
  }

  .big-latest-featured-articles .product {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 160px;
  }

  /* Details button */
  .big-latest-featured-articles .product .actions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .big-latest-featured-articles .product .actions a {
    border-radius: 0;
  }

  .big-latest-featured-articles .product img {
    width: 100%;
    height: auto;
  }

  /* Dynamic data */
  .latest-articles-page .product {
    min-width: 329px;
    display: flex;
    padding: 0;
    justify-content: flex-start;
  }

  .latest-articles-page .image picture > img {
    max-width: 329px;
  }

  .latest-articles-page .product .details {
    text-align: left;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .big-latest-featured-articles h1 {
    padding-top: 5%;
  }

  .launches-page-products div:nth-child(2) div {
    padding-top: 3%;
  }
}

@media (width <= 900px) {
  .launches-page-products div {
    flex-direction: row;
  }

  .launches-page-products {
    margin-top: -14vh;
  }

  .launches-page-products div:nth-child(2) div {
    padding-top: 3%;
  }

  .big-latest-featured-articles h1 {
    padding-top: 4%;
  }
}
