@import url(./featured-latest-articles.css);
@import url(./featured-texts.css);
@import url(./next-post.css);

main {
  width: 100%;
}

/* Video */
div:nth-child(5) .video-wrapper div {
  margin: 0;
  padding: 0;
  margin-bottom: 30%;
}

div:nth-child(5) .video-wrapper div div iframe {
  margin-bottom: 15%;
}

/* 2 images */
.one-img-cols {
  width: 100%;
  height: 100%;
}

/* Img left par on right */
.img-side-content div div,
.img-side-content-mirror div div {
  padding: 0;
  margin: 0% auto;
}

.img-side-content div div:nth-child(1),
.img-side-content-mirror div div:nth-child(2) {
  flex: 1.5;
  width: 100%;
  height: 100%;
}

/* Quote */
.img-side-content div div:nth-child(2),
.img-side-content-mirror div div:nth-child(1) {
  flex: 1;
  color: var(--sub-text-title-color);
  text-transform: inherit;
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: 510;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  text-align: center;
}

/* 2 Columns with images */
.two-cols-img-feat div {
  margin: 2% auto;
  padding: 0;
}

/* Carousel Brand */
.carousel-title {
  display: flex;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}

/* Carousel content */
.carousel-content {
  margin: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: center;
}

.carousel-content div div p {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  height: auto;
}

/* Product Pictures */
.carousel-content div div p:nth-child(1) {
  width: 220px;
  height: 220px;
  margin: 2px auto;
  border: 1px solid transparent;
}

/* Product name and colour content */
.carousel-content div div p:nth-child(2) {
  margin: 0% auto;
  margin-bottom: -10%;
}

/* Product name and colour text */
.carousel-content div div p:nth-child(2) a {
  display: flex;
  background-color: transparent;
  color: var(--sub-text-title-color);
  font-size: var(--sub-text-secondary-size);
  text-wrap: wrap;
  padding: 0;
  margin: 0;
  line-height: 2;
  border-radius: 0;
  padding: 0;
  justify-content: center;
}

/* Product Brand Name */
.carousel-content div div p:nth-child(2) a {
  text-transform: uppercase;
  font-weight: 400;
}

/* Product Colour */
.carousel-content div div p:nth-child(3) a {
  text-transform: capitalize;
  background-color: transparent;
  color: var(--sub-text-grey);
  opacity: 0.5;
  border-radius: 0;
  margin: 0 auto;
  padding: 0;
}
/* end carousel */

/* Main Img */
.one-img-cols {
  padding: 0;
  margin: 2% auto;
}

/* 2 Images */
.two-img div {
  margin: 2% auto;
  display: flex;
  width: 100%;
  max-width: 1286px;
  height: auto;
}

/* SHOP C.P. COMPANY button text/ Enter draw */
.more-content-button p {
  display: flex;
  justify-content: center;
  margin: auto;
}

.more-content-button .button-container p a {
  border-radius: 0;
  margin-top: 4%;
  text-transform: uppercase;
  font-size: var(--sub-text-title-large);
  padding: 1% 8%;
  text-align: center;
  align-items: center;
}
.more-content-button-no-background p {
  display: flex;
  justify-content: center;
}

.more-content-button-no-background .button-container p a {
  border-radius: 0;
  color: var(--sub-text-title-color);
  margin: 0 auto;
  text-transform: uppercase;
  font-size: var(--sub-text-title-large);
  padding: 1% 8%;
  text-align: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
}

/* Team Content */
.article-writer:nth-child(1) {
  margin-top: 2%;
}
.article-team:nth-child(1) div:nth-child(1) {
  margin: auto 0;
}

/* Writer, Photographer and Stylist */
.article-writer p,
.article-team p strong {
  display: flex;
  color: var(--sub-text-title-color);
  font-size: 16px;
  letter-spacing: 2px;
}

.article-writer p strong {
  margin-right: 1%;
}

.article-team p strong {
  margin-right: 5%;
}

/* Name of Writer, Photographer and Stylist*/
.article-writer div:nth-child(1) div:nth-child(1) p {
  justify-content: center;
}
.article-team div:nth-child(1) div:nth-child(1) p {
  justify-content: end;
}

/* Dividers */
.article-team div:nth-child(1) div:nth-child(2) {
  margin: 0 1%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 16px;
}

/* PHOTOGRAPHER Adam Thirtle */
.article-writer div:nth-child(1) div:nth-child(2) p,
.article-team div:nth-child(1) div:nth-child(2) p {
  justify-content: center;
  margin: 0 auto;
}

/* Normal par */
.article-writer div:nth-child(1) div:nth-child(1) p,
.article-team div:nth-child(1) div:nth-child(1) p,
.article-team div:nth-child(1) div:nth-child(2) p,
.article-team div:nth-child(1) div:nth-child(3) p {
  display: flex;
  align-items: center;
  color: var(--sub-text-title-color);
  text-transform: capitalize;
  width: 100%;
}

/* Border divider */
.article-writer div:nth-child(1) div:nth-child(1) p,
.article-team div:nth-child(1) div:nth-child(1) p,
.article-team div:nth-child(1) div:nth-child(2) p,
.article-team div:nth-child(1) div:nth-child(3) p {
  display: flex;
  height: 16px;
}

/* X logo */
.article-writer div:nth-child(2) div:nth-child(1) p {
  margin-right: -1%;
}
.article-writer div:nth-child(2) div:nth-child(1) p,
.article-team div:nth-child(2) div:nth-child(1) p {
  display: flex;
  justify-content: flex-end;
}

/* Facebook logo */
.article-writer div:nth-child(2) div:nth-child(2) p {
  margin-left: 2%;
}
.article-writer div:nth-child(2) div:nth-child(2) p,
.article-team div:nth-child(2) div:nth-child(2) p {
  display: flex;
  justify-content: flex-start;
}

/* Both logos */
.article-writer div:nth-child(2) div:nth-child(1) p img,
.article-writer div:nth-child(2) div:nth-child(2) p img,
.article-team div:nth-child(2) div:nth-child(1) p img,
.article-team div:nth-child(2) div:nth-child(2) p img {
  border-left: 2px solid black;
  margin: 0 auto;
}

.two-big-two-small div:nth-child(1) .columns-img-col:nth-child(2),
.two-big-two-small div:nth-child(2) .columns-img-col:nth-child(1) {
  flex: 1.3;
  margin: 4% auto;
}

main .section {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: auto;
}

@media (width <= 1260px) {
  /* Video */
  div:nth-child(5) .video-wrapper div {
    margin: 0 auto;
    padding: 0;
  }

  div:nth-child(5) .video-wrapper div div iframe {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0 auto;
  }
}
@media (width <= 900px) {
  /* Block Quote */
  .bold-text-column-title,
  .block-quote p {
    width: 100%;
    font-size: 20px;
  }

  /* All bold Paragraphs */
  .text-column-title div:nth-child(1) div:nth-child(1) p:nth-child(1),
  .text-column-bold {
    font-size: 18px;
    width: 100%;
    text-align: left;
  }

  .text-column {
    width: 100%;
    text-align: left;
  }

  /* Text Section */
  .text-column-par,
  .text-column-title div:nth-child(2) {
    width: 100%;
  }

  .text-column-title div:nth-child(1) {
    padding: auto;
  }

  .two-img div:nth-child(2) img {
    margin-top: 10%;
  }

  .two-big-two-small div div {
    margin: auto;
    margin-top: 6%;
  }
  /* Quote */
  .img-side-content div div:nth-child(2),
  .img-side-content-mirror div div:nth-child(1) {
    font-size: 22px;
  }

  /* Carousel content */

  /* SHOP C.P. COMPANY button */
  .carousel-title {
    margin-bottom: -4%;
    text-align: center;
  }
  .carousel-content {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
  }

  .carousel-content div {
    flex-direction: row;
    margin-top: 1%;
    width: 100%;
  }

  /* Product Pictures */
  .carousel-content div div p:nth-child(1) {
    width: 150px;
    height: 150px;
    margin: 2px auto;
    border: 1px solid transparent;
  }

  .carousel-content div div p:nth-child(2) a,
  .carousel-content div div p:nth-child(3) a {
    font-size: 12px;
  }
  /* end carousel */

  /* Main Img */
  .one-img-cols {
    margin: 0 auto;
    padding: 0;
  }

  /* Name of Writer, Photographer and Stylist*/
  .article-writer div:nth-child(1) div:nth-child(1) p,
  .article-team div:nth-child(1) div:nth-child(1) p,
  .article-team div:nth-child(1) div:nth-child(2) p,
  .article-team div:nth-child(1) div:nth-child(3) p {
    display: flex;
    margin: 2% auto;
    justify-content: center;
  }
  div:nth-child(20) .features-team div:nth-child(1) div:nth-child(3) p {
    margin-bottom: 5%;
  }
  /* Dividers */
  .article-team div:nth-child(1) div:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  /* Both logos */
  .article-writer div:nth-child(2),
  .article-team div:nth-child(2) {
    display: flex;
    flex-direction: row;
  }

  .article-team div:nth-child(2) div:nth-child(1) p img,
  .article-team div:nth-child(2) div:nth-child(2) p img {
    margin: 0;
  }

  /* X/twitter logo */
  .article-writer div:nth-child(2) div:nth-child(1) p {
    margin: 0;
    margin-right: 4%;
  }
  .article-team div:nth-child(2) div:nth-child(1) p {
    margin: 0;
    margin-right: 8%;
  }

  /* Facebook logo */
  .article-writer div:nth-child(2) div:nth-child(2) p {
    justify-content: flex-start;
    margin: 0;
    margin-left: 10%;
  }
  .article-team div:nth-child(2) div:nth-child(2) p {
    justify-content: flex-start;
    margin: 1% 0;
    padding-left: 4%;
  }

  /* next article */
  /* 2 imgs */
  .featured-next-post p {
    width: 100%;
  }
  .featured-next-post div p:nth-child(2) a {
    text-wrap: wrap;
    text-align: left;
  }

  /* Latest */
  .featured-latest-articles div div p {
    width: 100%;
  }

  .more-content-button .button-container p a {
    overflow: visible;
    padding: 2% 26%;
  }

  .more-content-button-no-background .button-container p a {
    overflow: visible;
    padding: 2% 30%;
  }
}
