/* Title NEXT & PREVIOUS POST */
.featured-next-post-title div:nth-child(1) div p:nth-child(1) {
  letter-spacing: 4px;
  font-weight: 600;
  margin: 0% auto;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 4%;
  margin-bottom: -2%;
}
/* Title PREVIOUS POST */
.featured-next-post-title div:nth-child(1) div:nth-child(2) p:nth-child(1) {
  text-align: right;
}
