@import url(./next-post.css);
@import url(./latest-posts.css);

/* removes divider border */

div.section.columns-container {
  border: none;
}

.features-text p {
  display: flex;
}

/* interviews button */
div:nth-child(1) .features-text p:nth-child(1) {
  margin: 0 auto;
  justify-content: center;
}

div:nth-child(1)
  .features-text:nth-child(1)
  p:nth-child(1)
  strong
  a:nth-child(1) {
  background-color: transparent;
  color: var(--sub-text-title-color);
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 350;
  border-radius: 0;
  padding: 0.2% 2%;
  text-transform: uppercase;
  border: 2px solid var(--sub-text-border-divider);
}

/* Title */
div:nth-child(1) .features-text:nth-child(1) p:nth-child(2) {
  color: var(--sub-text-title-color);
  letter-spacing: var(--sub-text-spacing);
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

/* Date */
div:nth-child(1) .features-text:nth-child(1) p:nth-child(3) {
  color: var(--sub-text-grey);
  opacity: 50%;
  letter-spacing: var(--sub-text-spacing);
  font-size: var(--sub-text-secondary-size);
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  margin-bottom: 2%;
}

/* summary */
div:nth-child(1) .features-text:nth-child(1) p:nth-child(4) {
  color: var(--sub-text-title-color);
  text-transform: inherit;
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 450;
  width: 45%;
  justify-content: center;
  text-align: center;
  margin-bottom: -5%;
}

/* 2 images */
div:nth-child(2) .features-text:nth-child(1) {
  margin: 0 auto;
  padding: 0;
}

/* Big Bold titles */
.features-bold-title {
  color: var(--sub-text-title-color);
  text-transform: inherit;
  margin: 0% auto;
  margin-top: -5%;
  margin-bottom: 5%;
  padding: 0;
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: 500;
  width: 79%;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}

main div:nth-child(2) .columns-1-cols div div p {
  margin-top: 5%;
  margin-bottom: -8%;
}

/* All bold Paragraphs */
.features-bold-text {
  color: var(--sub-text-title-color);
  margin: 0 auto;
  /* margin-top: -5%; */
  padding: 0;
  font-size: 18px;
  font-weight: 550;
  width: 65%;
  text-align: left;
}

/* All normal Paragraphs */
.featured-text {
  color: var(--sub-text-title-color);
  text-transform: inherit;
  /* margin: 2% auto; */
  margin: 2% auto;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 450;
  width: 65%;
  text-align: left;
}

/* Video */
div:nth-child(4) .video-wrapper div {
  margin: 0;
  padding: 0;
  margin-bottom: 24%;
  margin-top: -9%;
}

/* 2 cols imgs */
div:nth-child(5) .features-text {
  margin: 0 auto;
  padding: 0;
  margin-bottom: -2%;
}

/* Img left par on right */
div:nth-child(8) .features-text:nth-child(1) div div {
  padding: 0;
  margin: -6% auto;
}
.features-remove-background {
  background-color: transparent !important;
}

/* 3 images */
.featured-3-img-cols {
  margin: 4% auto;
}

/* Carousel Brand */
div:nth-child(11) .features-text:nth-child(1) p,
div:nth-child(19) .features-text:nth-child(1) p {
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  margin-top: -8%;
  justify-content: center;
}

/* Carousel content */
.features-carousel {
  margin: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.features-carousel-content div div p {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  height: auto;
}

/* Product Pictures */
.features-carousel-content div div p:nth-child(1) {
  width: 220px;
  height: 220px;
  border: 2px solid transparent;
}

/* Product name and colour content */
.features-carousel-content div div p:nth-child(2),
.features-carousel-content div div p:nth-child(3) {
  margin: 1% 0;
}

/* Product name and colour text */
.features-carousel-content div div p:nth-child(2) a,
.features-carousel-content div div p:nth-child(3) a {
  display: flex;
  background-color: transparent;
  color: var(--sub-text-title-color);
  font-size: var(--sub-text-secondary-size);
  text-wrap: wrap;
  padding: 0;
  margin: 0;
  line-height: 2;
  border-radius: 0;
  justify-content: center;
}

/* Product Brand Name */
.features-carousel-content div div p:nth-child(2) a {
  text-transform: uppercase;
  font-weight: 550;
}

/* Product Colour */
.features-carousel-content div div p:nth-child(3) a {
  text-transform: capitalize;
  color: var(--sub-text-grey);
  opacity: 0.5;
}

/* end carousel */

/* Img right par on left */
div:nth-child(14) .features-text:nth-child(1) div div {
  padding: 0;
  margin: 0 auto;
}

/* 2 Images */
div:nth-child(16) .features-text:nth-child(1) div div {
  padding: 0;
  margin: 2% auto;
}

/* Main Img */
div:nth-child(18) .features-text:nth-child(1) {
  padding: 0;
  margin: 0 auto;
  margin-top: -6%;
  margin-bottom: 2%;
}

/* SHOP C.P. COMPANY button */
div:nth-child(20) .features-text p {
  margin: 0 auto;
  margin-top: -6%;
  margin-bottom: 4%;
}

/* SHOP C.P. COMPANY button text/ Enter draw */
div:nth-child(20) .features-text p a,
main div:nth-child(6) .features-text:nth-child(1) p:nth-child(2) a {
  border-radius: 0;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: var(--sub-text-title-large);
  padding: 1% 8%;
}

main div:nth-child(6) .features-text:nth-child(1) {
  border: 2px solid yellow;
}

/* Team Content */
div:nth-child(20) .features-team:nth-child(1) div:nth-child(1) {
  margin: auto 0;
}

/* Writer, Photographer and Stylist */
div:nth-child(20) .features-team p strong {
  display: flex;
  color: var(--sub-text-title-color);
  font-size: var(--sub-text-secondary-size);
  letter-spacing: 2px;
  /* margin-right: 5%; */
}

/* Name of Writer, Photographer and Stylist*/
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(1) p {
  justify-content: end;
}

/* Dividers */
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(2) {
  margin: 0 1%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 16px;
}

/* PHOTOGRAPHER Adam Thirtle */
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(2) p {
  justify-content: center;
  margin: 0 auto;
}

/* Normal par */
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(1) p,
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(2) p,
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(3) p {
  display: flex;
  align-items: center;
  color: var(--sub-text-title-color);
  text-transform: capitalize;
  width: 100%;
}

/* Border divider */
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(1) p,
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(2) p,
div:nth-child(20) .features-team div:nth-child(1) div:nth-child(3) p {
  display: flex;
  height: 16px;
}

/* X logo */
div:nth-child(20) .features-team div:nth-child(2) div:nth-child(1) p {
  display: flex;
  justify-content: flex-end;
}

/* Facebook logo */
div:nth-child(20) .features-team div:nth-child(2) div:nth-child(2) p {
  display: flex;
  justify-content: flex-start;
}

/* Both logos */
div:nth-child(20) .features-team div:nth-child(2) div:nth-child(1) p img,
div:nth-child(20) .features-team div:nth-child(2) div:nth-child(2) p img {
  border-left: 2px solid black;
  margin: 0 auto;
}

@media (max-width: 600px) {
  div:nth-child(1)
    .features-text:nth-child(1)
    p:nth-child(1)
    strong
    a:nth-child(1) {
    margin-top: calc(var(--nav-height) - 150px);
    padding: 0;
    font-size: 10px;
  }

  /* Title */
  div:nth-child(1) .features-text:nth-child(1) p:nth-child(2) {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  /* Date */
  div:nth-child(1) .features-text:nth-child(1) p:nth-child(3) {
    font-size: var(--sub-text-secondary-size);
  }

  /* summary */
  div:nth-child(1) .features-text:nth-child(1) p:nth-child(4) {
    font-weight: 500;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: -15%;
    margin-top: 10%;
  }

  /* Big Bold titles */
  .features-bold-title {
    margin: 0 auto;
    margin-top: -15%;
    margin-bottom: 15%;
    font-size: 22px;
    width: 100%;
  }

  /* All bold Paragraphs */
  .features-bold-text {
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin: auto;
    margin-top: -15%;
  }

  /* All normal Paragraphs */
  .featured-text {
    margin: 3.5% auto;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5%;
  }

  /* Video */
  div:nth-child(4) .video-wrapper div {
    margin: 0;
    padding: 0;
    margin-bottom: -20%;
    margin-top: -27%;
  }

  div:nth-child(4) .video-wrapper div div iframe {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0 auto;
  }

  div:nth-child(5)
    .columns-wrapper:nth-child(1)
    .columns-2-cols
    .features-text
    div {
    padding: 0;
    margin: 0 auto;
  }

  div:nth-child(5)
    .columns-wrapper:nth-child(1)
    .columns-2-cols
    .features-text
    div:nth-child(2) {
    margin-top: 12%;
    margin-bottom: -15%;
  }

  div:nth-child(7) .features-bold-text {
    margin-top: -25%;
  }

  div:nth-child(7) .featured-text {
    margin-bottom: -15%;
  }

  div:nth-child(8) .features-text div:nth-child(1) div:nth-child(1) {
    margin-bottom: 25%;
  }

  div:nth-child(14) .features-text div:nth-child(1) div:nth-child(1) {
    margin-top: -25%;
    margin-bottom: 25%;
  }

  div:nth-child(18) .features-text img {
    margin-top: -25%;
    margin-bottom: -20%;
  }

  /* Carousel content */
  .features-carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
  }

  .features-carousel-content div {
    flex-direction: row;
    margin-top: 1%;
  }
  /* end carousel */

  /* SHOP C.P. COMPANY button */
  div:nth-child(20) .features-text p {
    margin-top: -20%;
    margin-bottom: 4%;
  }

  /* Name of Writer, Photographer and Stylist*/
  div:nth-child(20) .features-team div:nth-child(1) div:nth-child(1) p,
  div:nth-child(20) .features-team div:nth-child(1) div:nth-child(2) p,
  div:nth-child(20) .features-team div:nth-child(1) div:nth-child(3) p {
    display: flex;
    margin: 2% auto;
    color: var(--sub-text-title-color);
    text-transform: capitalize;
    width: 100%;
    justify-content: center;
  }
  div:nth-child(20) .features-team div:nth-child(1) div:nth-child(3) p {
    margin-bottom: 5%;
  }
  /* Dividers */
  div:nth-child(20) .features-team div:nth-child(1) div:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  /* X/twitter logo */
  div:nth-child(20) .features-team div:nth-child(2) div:nth-child(1) {
    margin: 0 auto;
    margin-left: 40%;
  }

  /* Facebook logo */
  div:nth-child(20) .features-team div:nth-child(2) div:nth-child(2) {
    margin: -9% auto;
    margin-right: 40%;
  }

  /* Both logos */
  div:nth-child(20) .features-team div:nth-child(2) div:nth-child(1) p,
  div:nth-child(20) .features-team div:nth-child(2) div:nth-child(2) p {
    justify-content: center;
    margin: 2% auto;
  }

  /* Latest */
  main
    div:nth-child(22)
    .features-text
    .features-text:nth-child(1)
    div:nth-child(1)
    p {
    margin: 0;
  }
  /* View All */
  main
    div:nth-child(22)
    .features-text
    .features-text:nth-child(1)
    div:nth-child(2)
    p {
    margin: 0;
    margin-top: -6.5%;
    margin-bottom: 2%;
  }
}
/* .features-remove-background .features-text:nth-child(2) p:nth-child(1) {
  border: 2px solid rebeccapurple;
} */

main div:nth-child(4) div:nth-child(1) .features-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1% 0;
}

/* 4 imgs diagonal bigger*/
main
  div:nth-child(4)
  div:nth-child(1)
  .features-text:nth-child(1)
  div:nth-child(1)
  .features-text:nth-child(2),
main
  div:nth-child(4)
  div:nth-child(1)
  .features-text:nth-child(2)
  div:nth-child(1) {
  flex: 1.3;
}

main div:nth-child(6) .features-text:nth-child(1) p:nth-child(1) strong {
  width: 100%;
  font-weight: 500;
}
