.main-nav-content {
  margin-top: 0%;
  padding-top: 0;
  position: relative;
  width: 100vw;
  height: 56px;
  border-bottom: 1px solid var(--sub-text-border-divider);
}

.main-nav-content div {
  display: flex;
  margin: auto;
  align-items: center;
}

/* Men and Women */
.main-nav-content table {
  margin: auto;
  height: auto;
}
.main-nav-content table tbody tr td {
  padding: 1px 20px;
}

.main-nav-content > div:nth-child(1) div:nth-child(1) {
  position: absolute;
  margin: auto;
  height: 100%;
  left: 5%;
}

.main-nav-content div:nth-child(1) div:nth-child(1) a {
  font-size: var(--sub-text-small);
  text-wrap: nowrap;
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Highlighed Men and Women */
.main-nav-content div:nth-child(1) div:nth-child(1) strong a {
  font-weight: bold;
}

/* End. Img */
.main-nav-content .icon-end img {
  width: 65.59px;
  height: auto;
}

/* Nav Cart and Search */
.main-nav-content button.nav-cart-button,
header nav .nav-tools button.nav-search-button {
  position: absolute;
  margin: auto;
  right: 0;
  top: 1%;
  bottom: 1%;
  border-radius: 0;
}

/* Cart Button */
.main-nav-content button.nav-cart-button {
  right: 8vw;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 10px;
}

/* Search Button */
header nav .nav-tools button.nav-search-button {
  right: 11vw;
}

header nav .nav-tools button.nav-search-button:hover {
  background-color: transparent;
}

/* End. Img */
.main-nav-content .icon-end img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width <= 991px) {
  /* Search Button */
  header nav .nav-tools button.nav-search-button {
    right: 13vw;
  }
}

@media (width <= 600px) {
  /* Search Button */
  header nav .nav-tools button.nav-search-button {
    right: 15vw;
  }
}
