.modal dialog:has(.preview-body)
{
    border-radius: 0;
    max-width: 600px;
}

.preview-header
{
    border-bottom: 0.5px solid #999999;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.preview-body
{
    position: relative;
}

.preview-body > div img
{
    width: 60%;
    display: block;
    margin: auto;
}

.preview-body > div > div p
{
    color: white;
    text-transform: uppercase;
}

.preview-body > div > div p:nth-child(2)
{
    position: absolute;
    font-size: 13px;
    top: 12vh;
    left: 8.8vw;
    font-weight: 400;
    color: white;
}

.preview-body > div > div p:nth-child(3)
{
    position: absolute;
    top: 4vh;
    right: 8.5vw;
}

.preview-body > div > div p:nth-child(4)
{
    position: absolute;
    font-size: 9px;
    top: 21vh;
    left: 9vw;
}

.preview-body > div > div p:nth-child(5)
{
    position: absolute;
    font-size: 9px;
    top: 21vh;
    right: 8vw;
}

.preview-body > div > div h5
{
    text-align: center;
}

.preview-body > div > div p:nth-child(7)
{
    color: black;
    font-size: 11px;
    text-align: center;
}

.preview-footer
{
    display: flex;
    justify-content: space-evenly;
}

.preview-footer > div > div 
{   
    min-width: 100px;
    width: 200px;
    text-align: center;
}

.preview-footer > div > div:nth-child(1) p a
{
    border: 1px solid black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}

.preview-footer > div > div:nth-child(2) p a
{
    background-color: black;
    padding: 10px 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.preview-footer > div > div:nth-child(1) p a:hover,
.preview-footer > div > div:nth-child(2) p a:hover
{
    text-decoration: none;
}

@media (width < 900px) {
    .modal dialog:has(.preview-body)
    {
        position: fixed;
        top: -50px;
        left: -3px;
        height: 90vh;
        width: 90%;
    }

    .preview-body
    {
        margin: 100px 0 100px 0;
    }

    .preview-body > div > div p:nth-child(2)
    {
        position: absolute;
        font-size: 12px;
        top: 8vh;
        left: 11vh;
        color: white;
        font-weight: 400;
    }

    .preview-body > div > div p:nth-child(3)
    {
        position: absolute;
        top: 2vh;
        right: 10.5vh;
        color: white;
    }

    .preview-body > div > div p:nth-child(4)
    {
        position: absolute;
        font-size: 8px;
        top: 14.7vh;
        left: 11vh;
        color: white;
    }

    .preview-body > div > div p:nth-child(5)
    {
        position: absolute;
        font-size: 8px;
        top: 14.7vh;
        right: 10vh;
    }

    .preview-body > div > div p:nth-child(7)
    {
        width: 90%;
        margin: auto;
    }

    .preview-footer > div
    {   
        flex-direction: row;
        width: 100%;
    }
}