/* Div */
.big-latest-featured-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Img size */
.big-latest-featured-articles .image picture > img {
  width: 100%;
  aspect-ratio: 580 / 450;
}

/* Name of product */
.big-latest-featured-articles .details h1 {
  display: flex;
  width: 100%;
}

.big-latest-featured-articles .details h1 a {
  font-size: 24px;
  font-weight: 600;
  text-transform: inherit;
}

/* Category and Date */
.launches-page-products-big {
  margin-top: -13vh;
}

.launches-page-products-big div div {
  display: flex;
}

/* Category */
.launches-page-products-big div:nth-child(1) div p {
  display: flex;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5%;
  color: var(--sub-text-title-color);
  border: 1px solid rgb(204, 204, 204);
}

.launches-page-products-big div:nth-child(1) div:nth-child(2) p,
.launches-page-products-big div:nth-child(2) div:nth-child(2) p {
  margin-left: 1%;
}

/* Date */
.launches-page-products-big div:nth-child(2) div p {
  font-size: var(--sub-text-secondary-size);
  color: var(--date-color);
  font-weight: 400;
  /* margin-bottom: 10%; */
}

@media (width <= 991px) {
  /* Products */
  .big-latest-featured-articles {
    grid-template-columns: 1fr;
  }

  /* Product image */
  .big-latest-featured-articles .image picture > img {
    aspect-ratio: 851 / 501;
  }

  .carousel-border {
    position: relative;
  }

  .big-latest-featured-articles .details h1 a {
    margin-top: 2%;
  }

  /* Categories and dates */
  .launches-page-products-big div div {
    text-wrap: nowrap;
  }

  /* Category */
  .launches-page-products-big div:nth-child(1) div:nth-child(1) {
    top: 38.5%;
    position: absolute;
  }

  .launches-page-products-big div:nth-child(1) div p {
    padding: 5%;
  }

  /* Category */
  .launches-page-products-big div:nth-child(1) div:nth-child(2) {
    position: absolute;
    top: 87.5%;
  }

  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(1) {
    position: absolute;
    bottom: 53%;
  }

  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(2) p {
    padding-top: 6%;
    margin-left: 0;
  }
}

@media (width <=930px) {
  .launches-page-products-big div:nth-child(1) div:nth-child(1) {
    top: 37.5%;
  }

  .launches-page-products-big div:nth-child(1) div:nth-child(2) {
    top: 85.5%;
  }

  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(2) p {
    padding-top: 8%;
    margin-left: 0;
  }
}

@media (width <= 800px) {
  .launches-page-products-big div:nth-child(1) div:nth-child(1) {
    margin-top: -2%;
  }
  .launches-page-products-big div:nth-child(1) div:nth-child(2) {
    margin-top: -2%;
  }

  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(1) {
    bottom: 53.5%;
  }

  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(2) p {
    padding-top: 9%;
  }
}

@media (width <= 700px) {
  .launches-page-products-big div:nth-child(1) div:nth-child(1) {
    top: 36%;
  }
  .launches-page-products-big div:nth-child(1) div:nth-child(2) {
    top: 84.5%;
  }
  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(1) {
    bottom: 54.5%;
  }
}

@media (width <= 600px) {
  .launches-page-products-big div:nth-child(1) div:nth-child(1) {
    top: 34%;
  }
  .launches-page-products-big div:nth-child(1) div:nth-child(2) {
    top: 81.5%;
  }
  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(2) p {
    padding-top: 12%;
  }
}

@media (width <= 540px) {
  .launches-page-products-big div:nth-child(1) div:nth-child(1) {
    top: 32%;
  }
  .launches-page-products-big div:nth-child(1) div:nth-child(2) {
    top: 80.5%;
  }
  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(2) p {
    padding-top: 13%;
  }
}

@media (width <= 440px) {
  /* Date */
  .launches-page-products-big div:nth-child(2) div:nth-child(1) {
    bottom: 55.5%;
  }
}
