.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  /* 1st column */

  /* Latest Products Header */
  .columns-container:nth-child(1)
    > .columns-wrapper:nth-of-type(1)
    div:nth-child(1) {
    letter-spacing: 2px;
    font-size: 20px;
  }

  /* View All Button */
  .columns-container:nth-child(1)
    > .columns-wrapper:nth-of-type(1)
    div:nth-child(2)
    p
    a {
    font-size: 14px;
    text-align: right;
  }

  /* View All Button */
  .columns-container:nth-child(1)
    > .columns-wrapper:nth-of-type(1)
    div:nth-child(2)
    p {
    text-align: right;
  }

  /* <p> in columns */
  .columns-container:nth-of-type(1)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(2),
  .columns-container:nth-of-type(1)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(3),
  .columns-container:nth-of-type(1)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(4) {
    font-size: 13px;
    margin: 1px 0;
  }

  /* Column title */
  .columns-container:nth-of-type(1)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(2) {
    text-transform: capitalize;
    font-size: 14px;
  }

  /* Column Colour */
  .columns-container:nth-of-type(1)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(3) {
    color: rgb(168, 168, 168);
    font-size: 13px;
  }

  /* Column Price */
  .columns-container:nth-of-type(1)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(4) {
    font-size: 14px;
  }

  /* 2nd column */

  .columns-container:nth-child(2) {
    padding: 2% 0;
  }

  /* Secion Background Colour */
  .columns-container:nth-of-type(2) {
    background-color: rgb(240, 243, 244);
  }

  /* Trending Header */
  .columns-container:nth-of-type(2) > .default-content-wrapper p {
    letter-spacing: 2px;
    font-size: 20px;
  }

  /* Column Header */
  .columns-container:nth-of-type(2)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 5px 0;
  }

  /* Column Colour */
  .columns-container:nth-of-type(2)
    > .columns-wrapper:nth-of-type(2)
    p:nth-child(3) {
    color: rgb(168, 168, 168);
    font-size: 13px;
    margin: 1px 0;
  }

  /* 3rd column */

  /* Launches */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(1)
    div:nth-child(1) {
    letter-spacing: 2px;
    font-size: 20px;
  }

  /* Button */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(1)
    div:nth-child(2) {
    text-align: right;
  }

  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(1)
    div:nth-child(2)
    p
    a {
    font-size: 14px;
    text-align: right;
  }

  /* Table container */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div
    p:nth-child(1) {
    background-color: rgb(240, 243, 244);
    display: flex;
    padding: 4% 2%;
    margin: auto;
    border-radius: 4px;
  }

  /* Image */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div
    p:nth-child(1)
    picture {
    margin: 2%;
    padding-right: 2%;
  }

  /* 05 text */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div
    p:nth-child(1)
    u {
    background-color: white;
    text-decoration: none;
  }

  /* 1st P in table */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div
    p:nth-child(1)
    u,
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div
    p:nth-child(1)
    strong {
    line-height: 1;
    padding: 1%;
  }

  /* 05 JULY with image */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div
    p:nth-child(1) {
    display: flex;
    align-items: flex-start;

    width: 100%;
  }

  /* * JULY */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(1)
    p
    strong,
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(2)
    p
    strong,
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(3)
    p
    strong {
    color: rgb(168, 168, 168);
    font-weight: lighter;
    padding-right: 20px;
  }

  /* table * <P> content */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div
    p {
    letter-spacing: 2px;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1px;
  }

  /* BRAND */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(1)
    p:nth-child(2),
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(2)
    p:nth-child(2),
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(3)
    p:nth-child(2) {
    font-weight: lighter;
    font-size: 13px;
    color: rgb(168, 168, 168);
    line-height: 1;
  }

  /* COLOUMNS BLOCK */
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(1)
    p:nth-child(3),
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(2)
    p:nth-child(3),
  .columns-container:nth-child(3)
    > .columns-wrapper:nth-of-type(2)
    div
    > div:nth-child(1)
    > div:nth-child(3)
    p:nth-child(3) {
    font-weight: bold;
    font-size: 14px;
  }

  hr {
    border: none; /* Remove default border */
    border-top: 1px solid black; /* Add a 1px light gray line */
    margin: 20px 0; /* Add some margin for spacing */
    width: 80%; /* Control the width of the line */
  }
}
