.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }
}

.columns > div > div {
  flex: 1;
  order: unset;
}

/* 1st column */

/* Latest Products Header */
.columns-container:nth-child(1)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(1) {
  letter-spacing: 2px;
  font-size: 20px;
}

/* View All Button */
.columns-container:nth-child(1)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(2)
  p
  a {
  font-size: 14px;
  text-align: right;
}

/* View All Button */
.columns-container:nth-child(1)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(2)
  p {
  text-align: right;
}

/* <p> in columns */
.columns-container:nth-of-type(1)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(2),
.columns-container:nth-of-type(1)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(3),
.columns-container:nth-of-type(1)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(4) {
  font-size: 13px;
  margin: 1px 0;
}

/* Column title */
.columns-container:nth-of-type(1)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(2) {
  text-transform: capitalize;
  font-size: 14px;
}

/* Column Colour */
.columns-container:nth-of-type(1)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(3) {
  color: rgb(168, 168, 168);
  font-size: 13px;
}

/* Column Price */
.columns-container:nth-of-type(1)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(4) {
  font-size: 14px;
}

/* 2nd column */

.columns-container:nth-child(2) {
  padding: 2% 0;
}

/* Secion Background Colour */
.columns-container:nth-of-type(2) {
  background-color: rgb(240, 243, 244);
}

/* Trending Header */
.columns-container:nth-of-type(2) > .default-content-wrapper p {
  letter-spacing: 2px;
  font-size: 20px;
}

/* Column Header */
.columns-container:nth-of-type(2)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 5px 0;
}

/* Column Colour */
.columns-container:nth-of-type(2)
  > .columns-wrapper:nth-of-type(2)
  p:nth-child(3) {
  color: rgb(168, 168, 168);
  font-size: 13px;
  margin: 1px 0;
}

/* 3rd column */

/* Launches */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(1) {
  letter-spacing: 2px;
  font-size: 20px;
}

/* Button */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(2) {
  text-align: right;
}

.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(2)
  p
  a {
  font-size: 14px;
  text-align: right;
}

/* Table container */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div
  p:nth-child(1) {
  background-color: rgb(240, 243, 244);
  display: flex;
  padding: 4% 2%;
  margin: auto;
  border-radius: 4px;
}

/* Image */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div
  p:nth-child(1)
  picture {
  margin: 2%;
  padding-right: 2%;
}

/* 05 text */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div
  p:nth-child(1)
  u {
  background-color: white;
  text-decoration: none;
}

/* 1st P in table */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div
  p:nth-child(1)
  u,
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div
  p:nth-child(1)
  strong {
  line-height: 1;
  padding: 1%;
}

/* 05 JULY with image */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div
  p:nth-child(1) {
  display: flex;
  align-items: flex-start;

  width: 100%;
}

/* * JULY */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(1)
  p
  strong,
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(2)
  p
  strong,
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(3)
  p
  strong {
  color: rgb(168, 168, 168);
  font-weight: lighter;
  padding-right: 20px;
}

/* table * <P> content */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div
  p {
  letter-spacing: 2px;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1px;
}

/* BRAND */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(1)
  p:nth-child(2),
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(2)
  p:nth-child(2),
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(3)
  p:nth-child(2) {
  font-weight: lighter;
  font-size: 13px;
  color: rgb(168, 168, 168);
  line-height: 1;
}

/* COLOUMNS BLOCK */
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(1)
  p:nth-child(3),
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(2)
  p:nth-child(3),
.columns-container:nth-child(3)
  > .columns-wrapper:nth-of-type(2)
  div
  > div:nth-child(1)
  > div:nth-child(3)
  p:nth-child(3) {
  font-weight: bold;
  font-size: 14px;
}

/* Balenciaga */
.columns-container:nth-child(4) > .columns-wrapper div:nth-child(1) ul li,
.columns-container:nth-child(4) > .columns-wrapper div:nth-child(1) ul li a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 20px;
  list-style-type: square;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

/* Shop Now Button */
.columns-container:nth-child(4) > .columns-wrapper a.button {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 13px;
  color: rgb(168, 168, 168);
  padding: 1% 3%;
}

/* Balenciaga and Shop now positioning */
.columns-container:nth-child(4) > .columns-wrapper ul {
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: flex-start;
}

.columns-container:nth-child(4) > .columns-wrapper p.button-container {
  margin-top: auto;
}
/* End Balenciaga and Shop now positioning */

/* Balenciaga Columns */
.columns-container:nth-child(4)
  > .columns-wrapper
  > .columns-2-cols
  > div:nth-child(2),
.columns-container:nth-child(4) > .columns-wrapper > .columns-2-cols {
  display: flex;
}

/* Main Picture */
.columns-container:nth-child(4)
  > .columns-wrapper
  > .columns-2-cols
  div:nth-child(2)
  div:nth-child(1) {
  position: relative;
  flex: 1.5;
}

/* Clothes and price text */
.columns-container:nth-child(4)
  > .columns-wrapper
  > .columns-2-cols
  div:nth-child(2)
  div:nth-child(2)
  p:nth-child(2),
.columns-container:nth-child(4)
  > .columns-wrapper
  > .columns-2-cols
  div:nth-child(2)
  div:nth-child(2)
  p:nth-child(4) {
  text-transform: capitalize;
}

/* Colour text */
.columns-container:nth-child(4)
  > .columns-wrapper
  > .columns-2-cols
  div:nth-child(2)
  div:nth-child(2)
  p:nth-child(3) {
  text-transform: capitalize;
  font-size: 14px;
  color: rgb(168, 168, 168);
  font-weight: lighter;
}

/* Shop Now > button */
.columns-container:nth-child(4)
  > .columns-wrapper
  > .columns-2-cols
  div:nth-child(2)
  div:nth-child(1)
  p:nth-child(2) {
  display: flex;
  position: absolute;
  right: -0.2%;
  bottom: 1%;
  padding: 0 2%;
  background-color: white;
}

.columns-container:nth-child(4)
  > .columns-wrapper:nth-child(1)
  div:nth-child(2)
  div:nth-child(1)
  a.button {
  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
}
/* End Shop Now > button */

/* Images container */
.columns-container:nth-child(4) > .columns-wrapper > .columns-2-cols {
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}

.columns-container:nth-child(4)
  > .columns-wrapper
  > .columns-2-cols
  div:nth-child(2)
  div:nth-child(2)
  p {
  margin: 5% 5%;
  padding: 0 5%;
}

/* Latest Sneakers Header */
.columns-container:nth-child(5)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(1) {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 20px;
}

/* View All Button */
.columns-container:nth-child(5)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(2)
  p
  a {
  font-size: 14px;
  text-align: right;
}

/* View All Button */
.columns-container:nth-child(5)
  > .columns-wrapper:nth-of-type(1)
  div:nth-child(2)
  p {
  text-align: right;
}

/* Shoes div column */
.columns-container:nth-child(5)
  > .columns-wrapper:nth-of-type(2)
  div
  > div
  div
  p {
  display: flex;
  padding: auto;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

/* Shoes Colour */
.columns-container:nth-child(5)
  > .columns-wrapper:nth-of-type(2)
  div
  p:nth-of-type(2) {
  text-transform: capitalize;
  font-size: 13px;
  color: rgb(168, 168, 168);
  font-weight: lighter;
}
/* Banner */
.columns-wrapper:nth-child(1) > .columns-1-cols div:nth-child(1) div {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of Banner */

/* .columns-wrapper:nth-child(1) .columns-1-cols div div div,
p:nth-child(1) {

  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  word-spacing: 10px;
  float: left;
} */

.columns-wrapper:nth-child(1)
  > .columns-1-cols
  div:nth-child(2)
  div:nth-child(1)
  p {
  display: flex;
  float: left;
  border: 10px solid navy;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.columns-wrapper:nth-child(1) .columns-1-cols div div:nth-child(2) p {
  float: right;
}
