:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
}

.container-heading {
  margin-top: 4rem;
  display: none;
  font-size: 1.2rem;
  font-weight: 700;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.actions > a {
  padding: 5px;
  border: 2px solid #2b2b2b;
  display: inline-block;
  margin: 10px;
  color: #2222a1;
}

#title {
  max-width: 1200px;
}

#SessionStatus {
  font-size: 1.2rem;
}

#SessionStatus > div {
  display: flex;
  justify-content: center;
}

#statusUserToken {
  display: inline-block;
  max-width: 500px;
  word-break: break-all;
}

#FrontendContainersHeader {
  margin-top: 5rem;
}

.elsie-password-validation-message {
  text-align: left;
}

.auth-formNotification {
  text-align: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
