.features-intro p {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

/* interviews button */
.features-intro p:nth-child(1) strong a:nth-child(1) {
  background-color: transparent;
  color: var(--main-text-color);
  font-size: 10px;
  letter-spacing: var(--sub-text-spacing);
  font-weight: 350;
  border-radius: 0;
  padding: 0 8px;
  text-transform: uppercase;
  border: 2px solid var(--sub-text-border-divider);
}

/* Title */
.features-intro div:nth-child(1) p:nth-child(2) {
  color: var(--main-text-color);
  letter-spacing: var(--sub-text-spacing);
  font-size: 30px;
  text-align: center;
  width: 65%;
  height: 100%;
  text-transform: uppercase;
}

/* Date */
.features-intro div:nth-child(1) p:nth-child(3) {
  color: var(--sub-text-grey);
  letter-spacing: var(--sub-text-spacing);
  font-size: var(--sub-text-secondary-size);
  text-transform: uppercase;
}

/* summary */
.features-intro div:nth-child(1) p:nth-child(4) {
  color: var(--main-text-color);
  text-transform: inherit;
  margin: 4% auto;
  padding: 0;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  width: 45%;
  height: 100%;
  justify-content: center;
  text-align: center;
}
@media (width <= 900px) {
  /* interviews button */
  .features-intro p:nth-child(1) strong a:nth-child(1) {
    margin-top: calc(var(--nav-height) - 50px);
  }

  /* Title */
  .features-intro div:nth-child(1) p:nth-child(2) {
    font-size: 24px;
    text-align: center;
    width: 90%;
  }

  /* Date */
  .features-intro div:nth-child(1) p:nth-child(3) {
    font-size: var(--sub-text-secondary-size);
  }

  /* summary */
  .features-intro div:nth-child(1) p:nth-child(4) {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }
}
