@import url(./hero-styles/our-apps-hero-styles.css);

main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero > div > div > :has(span)
{
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  width: 70%;
  margin: auto;
  display: flex;
  column-gap: 10px;
}

.hero > div > div > p .icon
{
  opacity:  0.5;
  position: relative;
  left: 5px;
  top: 4px;
}

#search-help-input
{
  position: relative;
  left: 5px;
  top: 4px;
  border: none;
  max-width: 1000px;
}

#search-help-input::placeholder
{
  opacity: 0.5;
}

#heyhow-can-we-help
{
  margin-top: 10%;
  text-align: center;
  margin-bottom: calc(16px* 1.5);
  font-size: calc(40px * 0.8);
  line-height: 1.1;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
