@import url(./hero-styles/hero-custom-styles.css);

main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero > div > div > :has(span)
{
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  width: 70%;
  margin: auto;
  display: flex;
  column-gap: 10px;
}

.hero > div > div > p .icon
{
  opacity:  0.5;
  position: relative;
  left: 5px;
  top: 4px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
