/* Featured Brand mirror (Balenciaga) */
.featured-brand div:nth-child(1) div:nth-child(1) {
  display: flex;
  position: relative;
  right: 2%;
  flex-direction: column;
}

/* Bullet */
.featured-brand ul li {
  list-style-type: square;
}

/* Balenciaga */
.featured-brand ul li a {
  color: var(--sub-text-featured-color);
  letter-spacing: var(--sub-text-featured-spacing);
  font-size: var(--sub-text-featured);
  text-transform: var(--sub-text-featured-transform);
  font-weight: var(--sub-text-featured-weight);
}

.featured-brand ul li a:hover {
  text-decoration: none;
}

/* Balenciaga and Shop now positioning */
.featured-brand div div:nth-child(1) ul {
  margin: auto 0;
  padding: auto;
  display: flex;
}

/* Shop Now button on top of image */
.featured-brand div:nth-child(1) div:nth-child(1) p a.button {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  font-size: var(--sub-text-header);
  color: var(--sub-text);
  padding: auto 3%;
  margin: auto;
}

.featured-brand div:nth-child(1) div:nth-child(1) p.button-container {
  margin-top: auto;
}
/* End Shop Now button on top of image */

/* Balenciaga Columns */
.featured-brand div:nth-child(2) div {
  display: flex;
}

/* Main Picture */
.featured-brand div:nth-child(2) div:nth-child(1) p {
  margin-top: auto;
}

.featured-brand div:nth-child(2) div:nth-child(1) {
  position: relative;
  flex: 1.5;
}
/* End Main Picture */

/* Featured Items * Columns */

/* Clothes and price text */
.featured-brand div:nth-child(2) div:nth-child(2) p:nth-child(2) {
  text-transform: capitalize;
  font-weight: normal;
  font-size: var(--sub-text-header);
}

.featured-brand div:nth-child(2) div:nth-child(2) p:nth-child(4) {
  font-size: 14px;
}

/* Colour */
.featured-brand div:nth-child(2) div:nth-child(2) p:nth-child(3) {
  text-transform: capitalize;
  font-size: var(--sub-text-p);
  font-weight: lighter;
  color: var(--sub-text);
}

/* Shop Now > button */
.featured-brand div:nth-child(2) div:nth-child(1) p:nth-child(2) {
  display: flex;
  position: absolute;
  align-self: flex-end;
  right: 0;
  background-color: white;
  text-transform: uppercase;
  opacity: 1; /* Initial opacity */
  transition: opacity 0.3s ease;
}

/* Apply hover effect */
.featured-brand div:nth-child(2) div:nth-child(1) p:nth-child(2):hover {
  opacity: 0.5;
}

.featured-brand div:nth-child(2) div:nth-child(1) p:nth-child(2) a {
  border: none;
  font-size: var(--sub-text-header);
  padding: auto;
  display: flex;
}
/* End Shop Now > button */

/* Images container */
.nested-columns {
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}

/* Images P containers */
.nested-columns div:nth-child(2) div:nth-child(2) p {
  margin: 5% 5%;
  padding: 0 5%;
}

@media (max-width: 500px) {
  .featured-brand div:nth-child(1) div:nth-child(1) {
    right: 5.6%;
  }
}
