.product-main-brand-showcase-mirror .product div:nth-child(1),
.brand-showcase div:nth-child(1) div:nth-child(1) {
  display: flex;
  position: relative;
  line-height: 1;
  right: 2%;

  flex-direction: column;
}

/* Bullet */
.product-main-brand-showcase-mirror ul li,
.brand-showcase ul li {
  list-style-type: square;
}

/* Balenciaga */
.product-main-brand-showcase-mirror ul li a,
.brand-showcase ul li a {
  color: var(--sub-text-title-color);
  letter-spacing: var(--sub-text-spacing);
  font-size: var(--sub-text-title-size);
  text-transform: uppercase;
  font-weight: bold;
}

.product-main-brand-showcase-mirror ul li a:hover,
.brand-showcase ul li a:hover {
  text-decoration: none;
}

/* Balenciaga and Shop now positioning */
.product-main-brand-showcase-mirror .product div:nth-child(1) ul,
.brand-showcase div div:nth-child(1) ul {
  margin: 0;
  margin-top: 6%;
  margin-bottom: -4%;
  padding: auto;
  display: flex;
}

/* Shop Now button on top of image */
.product-main-brand-showcase-mirror .product div:nth-child(1) p a.button,
.brand-showcase div:nth-child(1) div:nth-child(1) p a.button {
  border: none;
  background-color: transparent;
  text-transform: var(--sub-text-button-transform);
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-grey);
  padding: auto 0%;
  margin: auto;
  border-radius: 0;
}
/* End Shop Now button on top of image */

/* Main Picture */
.product-main-brand-showcase-mirror .product {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  max-width: auto;
  object-fit: cover;
}

.product-main-brand-showcase-mirror .product .image picture > img {
  display: flex;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* End Main Picture */

@media (width >= 1024px) {
  .product-main-brand-showcase-mirror .product .image picture > img {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    height: auto;
    object-fit: contain;
  }
}

@media (600px < width <= 1024px) {
  .product-main-brand-showcase-mirror-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    padding: 0;
  }
  .product-main-brand-showcase-mirror .product .image picture > img {
    height: auto;
    width: 70vw;
  }
}
@media (max-width: 600px) {
  /* Main Picture */
  .product-main-brand-showcase-mirror .product .image picture > img {
    height: auto;
    width: 90vw;
  }

  .product-main-brand-showcase-mirror .btn-on-img p {
    right: -1.5%;
  }
}
