/* stylelint-disable comment-empty-line-before */
/* stylelint-disable no-descending-specificity, property-no-vendor-prefix */

main
  .section.product-list-page-custom-container
  > .default-content-wrapper
  h1:first-child {
  display: none;
}

.product-list-page-custom {
  display: flex !important;
  gap: 2rem;
}
@media (width <= 993px) {
  .product-list-page-custom .facets {
    display: none;
    position: fixed;
    inset: var(--nav-height) 0 48px 0;
    z-index: 2;
    overflow: auto;
    box-sizing: content-box;
  }
}

.product-list-page-custom .facets.active {
  display: block;
}

.product-list-page-custom .facets h2 {
  display: none;
}

.product-list-page-custom .facets .close,
.product-list-page-custom .products .title .sort > .overlay .close {
  display: block;
  background: url('../../icons/x-lg.svg') center/55%;
  background-repeat: no-repeat;
  font-size: 0;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0;
  margin: 5px;
  border-radius: 0;
  margin-left: auto;
  border: 0;
}

/* Sort Optons */
.product-list-page-custom .products .title .sort > .overlay {
  display: none;
  position: fixed;
  inset: var(--nav-height) 0 48px 0;
  z-index: 2;
  overflow: auto;
  background: var(--background-color);
}

.product-list-page-custom .products .title .sort > .overlay.active {
  display: block;
}

.product-list-page-custom .products .title .sort .overlay ul {
  padding: 0 25px;
  margin: 0;
  list-style: none;
}

.product-list-page-custom .products .title .sort .overlay ul > li {
  padding: 5px 0;
}

/* Filters */
.product-list-page-custom .facets .facet-list .facet {
  border-bottom: var(--shape-border-width-1) solid
    var(--sub-text-border-divider);
}

.product-list-page-custom .facets .facet-list .facet > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: var(--sub-text-secondary-size);
  font-weight: 600;
  text-transform: uppercase;
}

.product-list-page-custom .facets .facet-list .facet > label::after {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transition: all 0.2s ease;
}

.product-list-page-custom .facets .facet-list .facet .facet-content {
  transition: all 0.2s ease;
  overflow: hidden;
  padding-top: 6px;
}

.product-list-page-custom .facets .facet-list .facet .facet-content ol li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.product-list-page-custom .facets .facet-list .facet .facet-content ol {
  list-style-type: none;
  margin: 0;
  padding: 16px 0 0;
}

.product-list-page-custom .facets .facet-list .facet > input {
  display: none;
}

.product-list-page-custom .facets .facet-list .facet > input ~ .facet-content {
  max-height: 0;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  > input:checked
  ~ .facet-content {
  max-height: 1000px;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  > input:checked
  ~ label::after {
  transform: rotate(180deg);
}

/* Radio/Checkbox Facet */
.product-list-page-custom .facets .facet-list .facet.radio .facet-content ol li,
.product-list-page-custom
  .facets
  .facet-list
  .facet.checkbox
  .facet-content
  ol
  li {
  height: 32px;
  margin-bottom: 6px;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.radio
  .facet-content
  ol
  input[type='radio'] {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin: 3px;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.checkbox
  .facet-content
  ol
  input[type='checkbox'] {
  vertical-align: middle;
  margin: 3px;
  width: auto;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.radio
  .facet-content
  ol
  label,
.product-list-page-custom
  .facets
  .facet-list
  .facet.checkbox
  .facet-content
  ol
  label {
  text-transform: inherit;
  font-size: var(--sub-text-small);
  font-weight: 400;
  color: var(--sub-text-title-color);
  margin-left: 2%;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.radio
  .facet-content
  ol
  label
  .count,
.product-list-page-custom
  .facets
  .facet-list
  .facet.checkbox
  .facet-content
  ol
  label
  .count {
  text-transform: none;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.radio
  .facet-content
  ol
  label
  .count::before,
.product-list-page-custom
  .facets
  .facet-list
  .facet.checkbox
  .facet-content
  ol
  label
  .count::before {
  content: '(';
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.radio
  .facet-content
  ol
  label
  .count::after,
.product-list-page-custom
  .facets
  .facet-list
  .facet.checkbox
  .facet-content
  ol
  label
  .count::after {
  content: ')';
}

/* Swatch Size Facet */
.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-size
  .facet-content
  ol {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-size
  .facet-content
  ol
  li
  button {
  border: 1px solid var(--color-brand-700);
  background: var(--color-neutral-50);
  color: var(--color-brand-700);
  border-radius: 3px;
  min-width: 60px;
  min-height: 38px;
  padding: 0 0 3px;
  margin: 0;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-size
  .facet-content
  ol
  li
  button.active {
  background: var(--color-brand-700);
  color: var(--color-neutral-50);
}

/* Swatch Color Facet */

.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-color
  .facet-content
  ol {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-color
  .facet-content
  ol
  li
  button {
  color: transparent;
  border: 1px solid var(--color-brand-700);
  background-size: cover;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-color
  .facet-content
  ol
  li
  button.active {
  box-shadow: 0 0 0 2px var(--color-neutral-50) inset;
  border-color: var(--color-neutral-600);
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-color
  .facet-content
  ol
  li
  button:hover {
  box-shadow: inset 0 0 0 18px rgba(255 255 255 / 30%);
}

.product-list-page-custom
  .facets
  .facet-list
  .facet.swatch.facet-color
  .facet-content
  ol
  li
  button.active:hover {
  box-shadow: inset 0 0 0 18px rgba(255 255 255 / 30%),
    0 0 0 2px var(--color-neutral-50) inset;
}

/* Price Facet */

.product-list-page-custom .facets .facet-list .facet .price-facet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  .price-facet
  .price-slider {
  width: 100%;
  display: grid;
  height: 15px;
  margin-bottom: 10px;
  flex-basis: 100%;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  .price-facet
  .price-slider
  input[type='range'] {
  grid-area: 1 / 1 / 1 / 1;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  position: relative;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  .price-facet
  .price-slider
  input[type='range']::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--color-brand-500);
  position: relative;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  border: 0;
  outline: none;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  .price-facet
  .price-slider
  input[type='range']::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--color-brand-500);
  position: relative;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  border: 0;
  outline: none;
  z-index: 1;
  margin-top: -5px;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  .price-facet
  .price-slider
  input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: var(--color-neutral-500);
  border-radius: 3px;
  border: none;
}

.product-list-page-custom
  .facets
  .facet-list
  .facet
  .price-facet
  .price-slider
  input[type='range']:first-of-type::-moz-range-track {
  width: 100%;
  height: 5px;
  background: var(--color-neutral-500);
  border-radius: 3px;
  border: none;
}

.product-list-page-custom .products {
  flex: 75;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

/* Category Title */
.product-list-page-custom .products .title {
  align-items: last baseline;
}

@media (width >= 993px) {
  .product-list-page-custom .products .title {
    display: flex;
    align-items: last baseline;
  }

  .product-list-page-custom .products .list > ol {
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}

.product-list-page-custom .products .title h1 {
  display: none;
}

/* Total Products */
.product-list-page-custom .products .title h1 ~ span {
  display: none;
  white-space: nowrap;
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  font-weight: 600;
  text-transform: none;
}

/* sort by */
.product-list-page-custom .products .title .sort {
  display: block;
  margin-left: auto;
  min-width: 20rem;
  /* position: absolute;
  right: 15vw;
  top: 0; */
}

.product-list-page-custom .products .title .sort > * {
  display: none;
}

.product-list-page-custom .products .title .sort > button {
  width: 100%;
  border: none;
  background: var(--color-neutral-50);
  color: var(--text-date-color);
  font-size: var(--sub-text-secondary-size);
  font-weight: 400;
  padding: 16px;

  margin: 0;
}

.product-list-page-custom .products .list > .empty {
  text-align: center;
  padding: 25px 0;
}

.product-list-page-custom .products .list > ol {
  list-style-type: none;
  display: grid;
  gap: 0 10px;
}

.product-list-page-custom .products .list > ol > li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 260px;
  max-height: 360px;
}

.product-list-page-custom .products .list > ol > li .picture {
  display: block;
  width: auto;
  height: 80%;
  aspect-ratio: 1 / 1.2;
  position: relative;
  overflow: hidden;
}

.product-list-page-custom .products .list > ol > li .picture a {
  display: grid;
  width: auto;
  height: auto;
  text-decoration: none;
}

.product-list-page-custom .products .list > ol > li .picture a:hover {
  text-decoration: none;
}

.product-list-page-custom .products .list > ol > li .picture picture {
  display: block;
  width: auto;
  height: 100%;
  grid-area: 1 / 1 / 1 / 1;
}

.product-list-page-custom .products .list > ol > li .picture img {
  display: block;
  /* aspect-ratio: 1 / 1.2; */
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-list-page-custom .products .list > ol > li .disruptor {
  height: 0; /** Yes, this actually works and prohibits grid blowout **/
}

.product-list-page-custom .products .list > ol > li .disruptor img {
  display: block;
  width: 100%;
}

.product-list-page-custom .products .list > ol > li .name {
  line-height: 1;
}

.product-list-page-custom .products .list > ol > li .name a {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  font-weight: 400;
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  display: inline-block;
  line-height: 18px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-list-page-custom .products .list > ol > li .name a:hover {
  color: var(--color-brand-700);
}

.product-list-page-custom .products .list > ol > li .price {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  font-weight: 400;
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  height: 2.8rem;
  display: flex;
  align-items: baseline;
  gap: 0.3em;
}

.product-list-page-custom .products .list > ol > li .price .price-regular {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  font-weight: 400;
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  text-decoration: line-through;
}

.product-list-page-custom .products .list > ol > li .price .price-range {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-list-page-custom
  .products
  .list
  > ol
  > li
  .price
  .price-range
  .price-from:first-child::after {
  content: '-';
  padding: 0 8px;
}

.product-list-page-custom
  .products
  .list
  > ol
  > li
  .price
  .price-range
  .price-regular {
  margin-left: 6.4px;
}

@media (width >= 600px) {
  .product-list-page-custom
    .products
    .list
    > ol
    > li
    .price
    .price-range
    .price-regular {
    margin-left: 9.6rem;
  }
}

.product-list-page-custom .products > div:last-child {
  margin-top: auto;
}

.product-list-page-custom .products .pagination {
  display: flex;
  height: 3.6rem;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.product-list-page-custom .products .pagination div label,
.product-list-page-custom .products .pagination div span {
  font-size: var(--sub-text-secondary-size);
  font-weight: 400;
}

@media (width >= 1024px) {
  .product-list-page-custom .products .pagination {
    padding-top: 3rem;
  }
}

.product-list-page-custom .products .pagination > div:nth-child(2) {
  display: none;
}

.product-list-page-custom .products .pagination select#select-page {
  border: none;
}

.product-list-page-custom .products .pagination select#select-pagesize {
  width: 9rem;
  padding: 0 0 0 0.2rem;
  border: none;
}

.product-list-page-custom .products .pagination button {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 0 0 32px;
  color: var(--sub-text-title-color);
  border-radius: 0;
}

.product-list-page-custom .products .pagination button.previous::before,
.product-list-page-custom .products .pagination button.next::after {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transform: rotate(90deg);
  margin-right: 8px;
}

.product-list-page-custom .products .pagination button.next::after {
  background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  transform: rotate(270deg);
  margin-right: 0;
  margin-left: 8px;
}

@media (width >= 993px) {
  .product-list-page-custom {
    display: flex;
  }

  .product-list-page-custom-container {
    padding: 0 !important;
    margin-left: 10vw !important;
    margin-right: 10vw !important;
  }

  main .section > div.product-list-page-custom-wrapper {
    max-width: 1920px;
  }

  .product-list-page-custom .facets {
    display: block;
    flex: 25;
    max-width: 240px;
    padding: 20px 30px;
    position: unset;
    z-index: unset;
    overflow: unset;
  }

  .product-list-page-custom .facets .close {
    display: none;
  }

  .product-list-page-custom .facets h2 {
    display: block;
    margin: 0;
    padding: 20px 5px;
  }

  .product-list-page-custom .facets .facet-list .facet {
    padding: 20px 0;
  }

  .product-list-page-custom .products {
    gap: 10px;
  }

  .product-list-page-custom .products .mobile-menu {
    display: none;
  }

  .product-list-page-custom .products .list > ol {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-list-page-custom .products .list > ol > li .picture:hover button {
    display: block;
  }

  .product-list-page-custom .products .pagination > div:nth-child(2) {
    display: block;
  }

  .product-list-page-custom .products .title h1 ~ span {
    display: inline;
  }

  .product-list-page-custom .products .title .sort {
    position: relative;
  }

  .product-list-page-custom .products .title .sort > * {
    display: unset;
  }

  .product-list-page-custom .products .title .sort > button::after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background: url('../../icons/rounded-triangle.svg') no-repeat center/contain;
    transition: all 0.2s ease;
  }

  .product-list-page-custom
    .products
    .title
    .sort:not([disabled]):hover
    > button::after {
    transform: rotate(180deg);
  }

  .product-list-page-custom
    .products
    .title
    .sort:not([disabled]):hover
    > .overlay {
    display: block;
  }

  .product-list-page-custom .products .title .sort > .overlay {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    box-shadow: 0 36px 51px 0 rgb(0 0 0 / 30%);
    border-radius: 6px;
    left: unset;
    top: unset;
    bottom: unset;
    overflow: unset;
  }

  .product-list-page-custom .products .title .sort .overlay .close {
    display: none;
  }

  .product-list-page-custom .products .title .sort > .overlay.active {
    display: none;
  }

  .product-list-page-custom .products .title .sort .overlay ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .product-list-page-custom .products .title .sort .overlay ul > li {
    padding: 10px 20px;
    text-align: left;
  }

  .product-list-page-custom .products .title .sort .overlay ul > li a {
    font-weight: 400;
    color: #333333;
    font-size: var(--sub-text-secondary-size);
  }

  .product-list-page-custom .products .title .sort .overlay ul > li .active {
    font-weight: 600;
  }
}

.product-list-page-custom .shimmer {
  background: transparent;
  border-radius: 4px;
}

.product-list-page-custom .shimmer-text {
  border-radius: 8px;
  min-height: 1.5rem;
  margin-bottom: 4px;
}

@media (width < 993px) {
  .product-section {
    padding: 0 !important;
  }

  .product-list-page-custom {
    position: relative;
  }

  .product-list-page-custom .products {
    gap: 0;
  }

  .product-list-page-custom .products .list > ol {
    grid-template-columns: repeat(3, 1fr);
    width: 96vw;
    margin: 0 auto;
    padding: 0;
  }

  .product-list-page-custom .products .list ol li {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .product-list-page-custom .products .title h1 ~ span {
    display: flex;
    position: absolute;
    top: 55px;
    width: 100%;
    justify-content: center;
  }

  .product-list-page-custom .products .mobile-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 45px;
    margin-bottom: 6%;
    width: 100vw;
  }

  .product-list-page-custom .products .mobile-menu > button {
    width: 100%;
    border: 1px solid var(--sub-text-border-divider);
    border-radius: 0;
    background: transparent;
    color: var(--text-date-color);
    font-size: var(--sub-text-secondary-size);
    font-weight: 400;
    margin: 0;
  }

  /* Sort By Button */
  .product-list-page-custom .products .mobile-menu > button:nth-child(1) {
    order: 2;
  }

  /* Filters Button */
  .product-list-page-custom .products .mobile-menu > button:nth-child(2) {
    order: 1;
  }

  .product-list-page-custom .products .pagination {
    margin: 0 auto;
    width: 90%;
    padding: 0;
    margin-top: 5% !important;
  }

  .product-list-page-custom .products .sort .overlay {
    width: 350px;
    height: 100vh;
    border: 1px solid var(--sub-text-border-divider);
    top: 0 !important;
    animation-name: slideIn;
    animation-duration: 0.8s;
  }

  .product-list-page-custom .products .sort .overlay::before {
    display: flex;
    position: absolute;
    left: 50%;
    right: 50%;
    height: 6%;
    content: 'Sort By';
    font-weight: 600;
    text-wrap: nowrap;
    text-transform: uppercase;
    font-size: var(--sub-text-secondary-size);
    align-items: center;
    justify-content: center;
  }

  .product-list-page-custom .products .sort .overlay .active {
    font-weight: 600;
  }

  @keyframes slideIn {
    0% {
      left: -100%;
    }

    100% {
      left: 0;
    }
  }

  .product-list-page-custom .products .sort .overlay ul {
    padding: 0 !important;
  }

  .product-list-page-custom .products .sort .overlay ul li:nth-child(1) {
    border-top: 1px solid var(--sub-text-border-divider);
  }

  .product-list-page-custom .products .sort .overlay ul li {
    border-bottom: 1px solid var(--sub-text-border-divider);
    padding: 5% !important;
    height: 50px;
  }

  .product-list-page-custom .products .sort .overlay ul li a {
    font-size: var(--sub-text-secondary-size);
  }

  .product-list-page-custom .facets {
    border: 1px solid var(--sub-text-border-divider);
    background-color: white;
    width: 350px;
    height: 100%;
    top: 0;
    left: calc(100vw - 350px);
    animation-name: slideInRight;
    animation-duration: 0.8s;
  }

  .product-list-page-custom .facets.active::before {
    display: flex;
    position: absolute;
    top: 2%;
    left: 50%;
    right: 50%;
    height: 2.5%;
    content: 'filter';
    font-weight: 600;
    text-wrap: nowrap;
    text-transform: uppercase;
    font-size: var(--sub-text-secondary-size);
    align-items: center;
    justify-content: center;
  }

  .product-list-page-custom .facet-list label {
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .product-list-page-custom .facet:nth-child(1) {
    border-top: 1px solid var(--sub-text-border-divider);
  }

  .product-list-page-custom .facet-list label::after {
    padding-right: 15%;
  }

  .product-list-page-custom .facet-list ol li {
    padding-left: 5%;
  }
}

@keyframes slideInRight {
  0% {
    left: 80%;
  }

  100% {
    left: calc(100vw - 350px);
  }
}

@media (480px < width <= 600px) {
  .product-list-page-custom .products .mobile-menu {
    margin-bottom: 8%;
  }
}

@media (width <= 480px) {
  .product-list-page-custom .products .mobile-menu {
    margin-bottom: 11%;
  }

  .product-list-page-custom .products .list > ol {
    grid-template-columns: repeat(2, 1fr);
  }
}
