/* Container */
.product-releases-showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: -2%;
}

/* Product Container */
.product-releases-showcase .product {
  display: flex;
  flex-direction: row;
  width: 604px;
  height: 164px;
  margin: 0;
}

/* Image Container */
.product-releases-showcase .image {
  display: flex;
  justify-content: center;
}

/* Image */
.product-releases-showcase .image picture > img {
  display: block;
  width: 290px;
  height: 164px;
  object-fit: cover;
}

/* Product Details */
.product-releases-showcase .details {
  margin-left: 2%;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.product-releases-showcase h1,
.product-releases-showcase h1 a,
.product-releases-showcase .price {
  font-size: var(--sub-text-secondary-size);
  text-decoration: none;
  letter-spacing: var(--type-headline-1-letter-spacing);
  text-transform: capitalize;
  font-weight: 400;
}
/* Product Name */
.product-releases-showcase h1 {
  margin: 0;
  margin-bottom: 4%;
  height: auto;
  line-height: 1px;
  padding: 0;
}

.product-releases-showcase h1 a {
  color: var(--sub-text-title-color);
}

.product-releases-showcase h1 a:hover {
  color: var(--sub-text-grey);
  cursor: pointer;
}

/* Product Colour */
.product-releases-showcase .colour {
  color: var(--sub-text-grey);
}

/* Product Price */
.product-releases-showcase .price {
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  color: var(--text-date-color);
  font-weight: 500;
}

.product-releases-showcase .price .price-regular {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  color: var(--color-neutral-600);
  text-decoration: line-through;
}

.product-releases-showcase .price .price-range {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.product-releases-showcase .price .price-range .price-from {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.product-releases-showcase .price .price-final {
  font-size: var(--sub-text-secondary-size);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

/* Details button */
.product-releases-showcase .product .actions {
  border-radius: 0;
}

/* Media Queries for Responsiveness */
@media (width <= 1200px) {
  .product-releases-showcase .product {
    width: auto;
    height: auto;
    flex-direction: row;
  }

  .product-releases-showcase .details {
    width: 100%;
  }

  .product-releases-showcase .image picture > img {
    width: 390px;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .product-releases-showcase {
    grid-template-columns: 1fr;
  }

  .product-releases-showcase .product {
    flex-direction: column;
  }

  .product-releases-showcase h1 {
    margin-bottom: 2%;
  }

  .product-releases-showcase h1:nth-child(1) {
    margin-top: 1%;
  }
}
