.view-all-latest-banner img {
  height: 50vh;
}

.view-all-latest-banner {
  margin-bottom: calc(50vh - 42%);
}

.new-this-week div {
  display: flex;
  flex-direction: column;
}

.new-this-week table:nth-child(1) {
  background-color: white;
  border-radius: 2%;
  width: 27%;
  margin: 2% 20%;
  padding: 0 2%;
  box-shadow: 5px 5px 10px rgba(189, 152, 110, 0.8);
}

/* Paragraph title */
.new-this-week div div table tbody tr:nth-child(2) td p:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--sub-text-title-large);
  color: var(--sub-text-title-color);
  letter-spacing: 2px;
}

/* paragraph */
.new-this-week div p:nth-child(2),
.new-this-week div div table tbody tr:nth-child(4) td p:nth-child(1) u,
.new-this-week div div table tbody tr:nth-child(3) td {
  text-transform: inherit;
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  margin: auto 0;
}

.new-this-week div div table tbody tr:nth-child(3) td {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}

/* links in paragraph */
.new-this-week div p:nth-child(2) strong a,
.new-this-week div div table tbody tr:nth-child(3) td strong a {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  font-weight: 100;
  font-weight: bold;
  text-decoration: underline;
}

/* Show more/less */
.new-this-week div div table tbody tr:nth-child(4) td p:nth-child(1) u {
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
}

.new-this-week div table table {
  margin: 2% 0;
  padding: 0;
  width: 50%;
}

/* Shop men & women */
.new-this-week div table table td a {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--sub-text-title-color);
  font-size: var(--sub-text-small);
  width: auto;
  letter-spacing: 2px;

  margin: auto;
  text-align: left;
}

.default-content-wrapper p {
  display: flex;
  margin-left: 20%;
  
}

/* Accordions */
.accordion-container {
  display: flex;
}

/* Accordion View/Featured */
.accordion-container:nth-child(3) .block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.accordion-container:nth-child(3) .accordion-wrapper {
  font-size: var(--sub-text-small);
  margin-right: 15%;
  margin-top: -11%;
}

.accordion-container:nth-child(3)
  .accordion-wrapper
  .accordion-item-body
  ul
  li {
  border: 1px solid var(--sub-text-border-divider);
  list-style-type: none;
  font-size: var(--sub-text-secondary-size);
}

/* Accordion Categories */
.accordion-container:nth-child(4) .block {
  display: flex;
  flex-direction: column;
}

.accordion-container:nth-child(4) .accordion-wrapper {
  font-size: var(--sub-text-secondary-size);
  margin-left: 15%;
  margin-top: -17.5%;
}

.accordion-container:nth-child(4) .accordion-wrapper .accordion-item-label {
  text-transform: uppercase;
}

.accordion-container:nth-child(3)
  .accordion-wrapper
  .accordion-item-body
  ul
  li {
  border: 1px solid var(--sub-text-border-divider);
  list-style-type:rad
  font-size: var(--sub-text-secondary-size);
}
