div.section.carousel-container {
  padding: 0;
  margin: 0;
}
.carousel {
  padding: 0;
  height: auto;
}

.carousel .carousel-slides-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.carousel .carousel-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align='center']) {
  align-items: center;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align='right']) {
  align-items: flex-end;
}

.carousel .carousel-slide .carousel-slide-image picture {
  position: absolute;
  inset: 0;
}

.carousel .carousel-slide .carousel-slide-image picture > img {
  height: 100%;
  width: 100vw;
}

/* carousel slide content */
.carousel .carousel-slide .carousel-slide-content {
  z-index: 1;
  position: absolute;
}

.brands-carousel .carousel-slide .carousel-slide-content {
  bottom: 12%;
  left: 14.5%;
  width: 72%;
  line-height: 1;
}

.content-block-carousel .carousel-slide .carousel-slide-content {
  background-color: white;
  border-radius: 4px;
  width: 561px;
  box-shadow: 5px 5px 10px rgba(189, 152, 110, 0.8);
  top: 8%;
  left: 12%;
  max-height: 396px;
}

.carousel .carousel-slide .carousel-slide-content h2,
.carousel .carousel-slide .carousel-slide-content p.button-container {
  line-height: 1;
  height: auto;
  padding: 0;
  margin: auto 0;
}

/* Brand Name */
.brands-carousel .carousel-slide .carousel-slide-content h2 a {
  color: var(--main-color-light);
  font-weight: 600;
  letter-spacing: 0.228571rem;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 32px;
  text-decoration: none;
}

/* Buttons */
.carousel .carousel-slide .carousel-slide-content p a {
  background-color: transparent;
  border-radius: 0;
}

/* Buttons P */
.brands-carousel .carousel-slide .carousel-slide-content p:nth-child(2) a {
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding-left: 0;
  font-size: var(--sub-text-secondary-size);
}

/* SHOP NOW Button redirect*/
.brands-carousel .carousel-slide .carousel-slide-content p:nth-child(3) {
  text-align: right;
}

.brands-carousel .carousel-slide .carousel-slide-content p:nth-child(3) a {
  border: 2px solid white;
  align-content: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2%;
  width: 182px;
  height: 46px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--sub-text-secondary-size);
  /* animation */
  background-color: transparent;
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
}

/* SHOP NOW animation onHover*/
.brands-carousel
  .carousel-slide
  .carousel-slide-content
  p:nth-child(3)
  a:hover {
  background-color: white;
  color: black;
  opacity: 0.5;
}

.carousel .carousel-slide-indicators {
  position: absolute;
  display: flex;
  height: auto;
  top: 92%;
  bottom: 0%;
  left: 14%;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 8px;
  padding: 12px;
  background-color: transparent;
  line-height: 0;
}

.carousel .carousel-slide-indicator button {
  width: 37px;
  height: 2px;
  margin: 0;
  padding: 0;
  border-radius: 0%;
  background-color: #dadada54;
  transition: background-color 0.2s;
  border: none;
  position: relative;
  overflow: hidden;
}

.carousel .carousel-slide-indicator button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0s;
}

.carousel .carousel-slide-indicator button:disabled::before,
.carousel .carousel-slide-indicator button:hover::before,
.carousel .carousel-slide-indicator button:focus-visible::before {
  animation: slideProgress 5s linear forwards;
}

.carousel .carousel-slide-indicator button {
  width: 37px;
}

@keyframes slideProgress {
  to {
    width: 37px;
  }
}

.carousel .carousel-navigation-buttons {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel .carousel-navigation-buttons button {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: rgba(19 19 19 / 25%);
  transition: background-color 0.2s;
}

.carousel .carousel-navigation-buttons button:hover,
.carousel .carousel-navigation-buttons button:focus-visible {
  background-color: rgba(19 19 19 / 75%);
}

.carousel .carousel-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid;
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel .carousel-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

.carousel-slides-container {
  height: 100vh;
}

/* .content-block-carousel */
.content-block-carousel .carousel-slide .carousel-slide-content p {
  padding: 0 48px;
  margin: 0px;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--main-text-color);
  text-transform: inherit;
  font-size: 14px;
  max-width: 465px;
  line-height: 20px;
}
.content-block-carousel .carousel-slide .carousel-slide-content p strong a {
  font-weight: 600;
  font-size: 14px;
}

.content-block-carousel .carousel-slide .carousel-slide-content p:nth-child(2) {
  margin-bottom: 4px;
}

.content-block-carousel .carousel-slide .carousel-slide-content p:nth-child(1) {
  padding: 0 48px;
  margin-top: 25px;
}

.content-block-carousel
  .carousel-slide
  .carousel-slide-content
  p:nth-child(1)
  strong {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-text-color);
  text-transform: uppercase;
  letter-spacing: 0.128571rem;
}

.content-block-carousel
  .carousel-slide
  .carousel-slide-content
  .button-container {
  display: inline-block;
  grid-template-columns: repeat(2, 1fr);
}

.content-block-carousel .carousel-slide .carousel-slide-content p:nth-child(5) {
  margin-left: 16.5%;
  margin-right: 5%;
}

.content-block-carousel
  .carousel-slide
  .carousel-slide-content
  .button-container
  a {
  padding: 0;
  margin: 0;
  color: var(--text-date-color);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.content-block-carousel
  .carousel-slide
  .carousel-slide-content
  p:nth-child(2)::after {
  content: '...';
}

.content-block-carousel .carousel-slide .carousel-slide-content p u {
  cursor: pointer;
}

/* .content-block-carousel .carousel-slide .carousel-slide-content strong {
  border: 2px solid rebeccapurple;
} */

@media (width >= 768px) {
  .carousel .carousel-navigation-buttons {
    left: 24px;
    right: 24px;
  }

  .carousel .carousel-slide .carousel-slide-content {
    --slide-content-width: calc(100% / 2);
    padding: 0;
  }

  .carousel .carousel-slide .carousel-slide-content[data-align='justify'] {
    --slide-content-width: auto;
  }
}

@media (width < 768px) {
  .carousel-slide-image img {
    object-fit: cover;
    display: flex;
    justify-content: center;
  }

  .carousel .carousel-navigation-buttons button {
    display: none;
  }

  /* Text */
  .carousel .carousel-slide .carousel-slide-content,
  .carousel .carousel-slide .carousel-slide-content p:nth-child(3) {
    text-align: center;
    margin: auto;
    left: 0;
    width: 100vw;
  }

  .carousel .carousel-slide .carousel-slide-content h2 a {
    font-size: 22px;
  }

  .carousel .carousel-slide .carousel-slide-content p:nth-child(3) a {
    margin-bottom: 1%;
    align-content: center;
  }

  .carousel .carousel-slide-indicators {
    position: absolute;
    padding: 0;
    left: 0;
    top: 100vh;
    width: 100vw;
  }
}

@media (width <= 600px) {
  .carousel .carousel-slide .carousel-slide-content p:nth-child(3) a {
    margin-bottom: 10%;
  }
}
