main .commerce-login-container {
    max-width: 700px;
    margin: 40px auto;
    width: 100%;
}

/* Hide the error message from the form */
.auth-sign-in-form .dropin-in-line-alert--error {
    display: none;
}
