.nav-modal {
  position: fixed;
  left: 0;
  top: var(--nav-height);
  width: 100%;
  z-index: 2;
}

.nav-modal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.nav-modal-content {
  background-color: white;
  border: none;
}

@media (width >= 992px) {
  .nav-modal-content {
    border: 1px solid #ccc;
  }

  .nav-modal .close-button {
    display: none;
  }

  .nav-modal-content u {
    visibility: hidden;
  }
}
.nav-modal dialog .nav-modal-content {
  max-height: calc(100vh - 60px);
}

.nav-modal dialog .section {
  padding: 0;
}

.nav-modal-content * p {
  display: flex;
  padding: 0;
  flex: 1;
  margin: 0;
  font-size: var(--sub-text-secondary-size);
  line-height: 1.5;
  text-transform: capitalize;
}

.nav-modal-content
  div:nth-child(2)
  div:nth-child(1)
  p:nth-child(1):only-of-type
  a {
  color: black;
  background-color: transparent;
  border-radius: 0;
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  padding: 0.5%;

  font-weight: 555;
  border-radius: 0;
}

@media (width <= 991px) {
  .nav-modal .close-button {
    display: block;
    position: absolute;
    top: 1%;
    right: 2vw;
    width: auto;
    height: 100%;
    max-height: 50px;
    border-radius: 0 var(--dialog-border-radius) 0 0;
    background-color: unset;
    margin: 0;
    border: none;
  }

  .nav-modal {
    top: 0;
    width: 100vw;
    max-width: 400px;
  }

  .nav-modal-border {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--sub-text-border-divider);
  }
}
