.nav-modal {
  position: fixed;
  left: 0;
  top: calc(var(--nav-height) + 0.2vh);
  width: 100%;
  z-index: 2;
}

.nav-modal-content {
  background-color: white;
  border: 1px solid #ccc;
  padding-top: 2vh;
}

.nav-modal dialog .nav-modal-content {
  max-height: calc(100vh - 60px);
}

.nav-modal dialog .section {
  padding: 0;
}

.nav-modal .close-button {
  display: none;
}

@media (width <= 998px) {
  .nav-modal .close-button {
    display: block;
    position: absolute;
    top: 1%;
    right: 10%;
    width: auto;
    height: 100%;
    max-height: 50px;
    border-radius: 0 var(--dialog-border-radius) 0 0;
    background-color: unset;
    margin: 0;
    border: none;
  }
}

@media (width <= 400px) {
  .nav-modal .close-button {
    right: 20%;
  }
}
