.carousel-border {
  border-bottom: 1px solid var(--sub-text-border-divider);
}

/* Div */
.launches-product-showcase-carousel {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

/* image */
.launches-product-showcase-carousel .image {
  display: flex;
  justify-content: center;
}

.launches-product-showcase-carousel .image .placeholder {
  width: 250px;
  height: 250px;
}

.launches-product-showcase-carousel .image picture > img {
  display: block;
  width: 378px;
  height: 252px;
  margin-bottom: 5%;
}

/* Product details */
.launches-product-showcase-carousel .details {
  display: flex;
  flex-direction: column;
}

.launches-product-showcase-carousel .actions {
  display: flex;
  gap: 20px;
  margin-top: auto;
  justify-content: center;
}

/* Product Brand */
.launches-product-showcase-carousel .brand {
  color: var(--sub-text-grey);
  font-size: var(--sub-text-small);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.0857143rem;
  margin: 3% 0;
}

/* Product Name */
.launches-product-showcase-carousel h1 a {
  text-decoration: none;
  letter-spacing: 0.114286rem;
  font-size: var(--sub-text-title-large);
  text-transform: uppercase;
  color: var(--sub-text-title-color);
  font-weight: 500;
}

.launches-product-showcase-carousel h1 {
  font-size: var(--sub-text-secondary-size);
  letter-spacing: var(--type-headline-1-letter-spacing);
  text-transform: capitalize;
  margin: 5px 0;
  height: auto;
  line-height: 1px;
  padding: 0;
}

.launches-product-showcase-carousel h1 a:hover {
  color: var(--sub-text-grey);
  cursor: pointer;
  text-decoration: none;
}

/* Product Price */
.launches-product-showcase-carousel .price {
  font-weight: 400;
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  color: var(--sub-text-title-color);
}

.launches-product-showcase-carousel .price .price-regular {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  color: var(--color-neutral-600);
  text-decoration: line-through;
}

.launches-product-showcase-carousel .price .price-range {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.launches-product-showcase-carousel .price .price-range .price-from {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.launches-product-showcase-carousel .price .price-final {
  font-size: var(--sub-text-secondary-size);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

/* Details button */
.launches-product-showcase-carousel .product .actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.launches-product-showcase-carousel .product .actions a {
  border-radius: 0;
}

@media (width >= 200px) {
  .launches-product-showcase-carousel {
    flex-direction: row;
  }

  .launches-product-showcase-carousel .details {
    flex: 1;
    padding-top: 3%;
  }

  .launches-product-showcase-carousel .actions {
    justify-content: flex-start;
  }

  .launches-section-products .product {
    position: relative;
    margin: 0 auto;
    width: 376px;
    gap: 30px;
    flex: 1;
  }

  .launches-section-products .image picture > img {
    width: 438px;
    height: 243px;
    margin: 0 auto;
  }

  .launches-section-products .product .details {
    justify-content: flex-start;
    margin: 0;
  }

  .launches-section {
    display: block;
    position: relative;
    margin: auto;
    z-index: 1;
    width: 100%;
    height: 0px;
  }

  .launches-section div div {
    display: flex;
    position: relative;
    padding-top: 1%;
    padding-left: 1%;
    width: 100%;
  }
}

@media (width <= 1000px) {
  .launches-section {
    width: 1020px;
  }

  .launches-section div {
    flex-direction: unset;
  }

  .carousel-border {
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
  }

  .launches-product-showcase-carousel {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 10px;
    width: max-content;
    height: auto;
    box-sizing: border-box;
  }

  .launches-product-showcase-carousel .product {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 160px;
  }

  /* Details button */
  .launches-product-showcase-carousel .product .actions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .launches-product-showcase-carousel .product .actions a {
    border-radius: 0;
  }

  .launches-product-showcase-carousel .product img {
    width: 100%;
    height: auto;
  }

  /* Dynamic data */
  .launches-section-products .product {
    min-width: 329px;
    display: flex;
    padding: 0;
    justify-content: flex-start;
  }

  .launches-section-products .image picture > img {
    max-width: 329px;
  }

  .launches-section-products .product .details {
    text-align: left;
    justify-content: flex-start;
    margin: 0;
    margin-left: -5%;
  }
}
