/* Div */
.product-showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  gap: 30px;
  width: 100%;
  justify-content: center;
}
.product-showcase div div {
  width: auto;
}

/* image */
.product-showcase .image {
  display: flex;
  justify-content: center;
}

.product-showcase .image .placeholder {
  width: 276px;
  height: 250px;
  background-color: var(--color-neutral-200);
}

.product-showcase .image picture > img {
  display: block;
  width: 276px;
  height: 250px;
  margin-bottom: 5%;
}

/* Product details */
.product-showcase .details {
  display: flex;
  flex-direction: column;
}

.product-showcase .actions {
  display: flex;
  gap: 20px;
  margin-top: auto;
  justify-content: center;
}

/* Product Name */
.product-showcase h1 {
  font-size: var(--sub-text-title-large);
  text-transform: uppercase;
  letter-spacing: var(--sub-text-spacing);
  color: var(--sub-text-title-color);
  margin: 5px 0;
  height: auto;
  line-height: 1;
  padding: 0;
}

/* Product Price */
.product-showcase .price {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.product-showcase .price .price-regular {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  color: var(--color-neutral-600);
  text-decoration: line-through;
}

.product-showcase .price .price-range {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.product-showcase .price .price-range .price-from {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.product-showcase .price .price-final {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-grey);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

@media (width >= 600px) {
  .product-showcase {
    flex-direction: row;
  }

  .product-showcase .details {
    flex: 1;
  }

  .product-showcase .actions {
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  .product-showcase .product {
    width: 352px;
    text-align: left;
  }

  .product-showcase .image picture > img {
    display: block;
    width: 352px;
    height: 352px;
    margin-bottom: 5%;
  }
}
