.product-brand-showcase,
.product-brand-showcase-mirror {
  display: contents;
}

.product-brand-showcase-wrapper,
.product-brand-showcase-mirror-wrapper {
  align-items: flex-end;
}
/* Product Name */
.product-brand-showcase-wrapper .details h1,
.product-brand-showcase-mirror-wrapper .details h1 {
  line-height: 1;
}

.product-brand-showcase-wrapper .details .brand a,
.product-brand-showcase-mirror-wrapper .details .brand a {
  transition: opacity 0.3s ease;
}

.product-brand-showcase-wrapper .details .brand a:hover,
.product-brand-showcase-mirror-wrapper .details .brand a:hover {
  opacity: 0.5;
}

.product-brand-showcase-wrapper .product,
.product-brand-showcase-mirror-wrapper .product {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex-wrap: wrap;
  padding: 0;
}

/* Product Name, Colour and price text */
.product-brand-showcase-wrapper .details h1,
.product-brand-showcase-mirror-wrapper .details h1,
.product-brand-showcase-wrapper .details .price,
.product-brand-showcase-mirror-wrapper .details .price {
  text-transform: capitalize;
  font-weight: normal;
  font-size: var(--sub-text-secondary-size);
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 1;
  color: var(--main-text-color);
}

/* Colour */
.product-brand-showcase-wrapper .details .colour,
.product-brand-showcase-mirror-wrapper .details .colour {
  color: var(--sub-text-grey);
}

.divider-border-grid .product-brand-showcase-wrapper,
.divider-border-grid .product-brand-showcase-mirror-wrapper {
  align-content: end;
  max-height: 700px;
}

.product-brand-showcase h1 a,
.product-brand-showcase-mirror h1 a {
  font-size: 14px;
}
