.product-brand-showcase {
  display: contents;
}

/* Product Name */
.product-brand-showcase-wrapper {
  align-items: flex-end;
}
/* Product Name */
.product-brand-showcase-wrapper .details h1 {
  line-height: 1;
}

.product-brand-showcase-wrapper .product {
  display: flex;

  flex-direction: column;
  width: fit-content;
  flex-wrap: wrap;
  padding: 0;
}

/* Clothes and price text */
.product-brand-showcase-wrapper .details h1,
.brand-showcase div:nth-child(2) div:nth-child(2) p:nth-child(2) {
  text-transform: capitalize;
  font-weight: normal;
  font-size: var(--sub-text-secondary-size);
}

.product-brand-showcase-wrapper .details .price,
.brand-showcase div:nth-child(2) div:nth-child(2) p:nth-child(4) {
  font-size: 14px;
}

/* Colour */
.brand-showcase div:nth-child(2) div:nth-child(2) p:nth-child(3) {
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  font-weight: lighter;
  color: var(--sub-text-grey);
}
