footer {
  background-color: var(--color-neutral-100);
  border: 1px solid rgb(229, 229, 229);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer-one,.footer-two,.footer-three
{
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 3rem 0px 3rem 0;
  margin: 0;
}

.footer-one
{
  display: flex;
}

.sub-form
{
  padding-top: 3rem;
  margin: 0 auto;
  align-self: center;
}

.sign-up
{
  background-color: rgb(244, 244, 244); /* Green */
  border: none;
  color: rgb(153, 153, 153);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1em;
  cursor: not-allowed;
}

/*styling signup*/
#mail
{
  background: transparent;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 0.5px solid #999999;
}

#mail:focus
{
  background: inherit;
}

.footer-two .columns-4-cols > div h6
{
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0 1rem 0;
}

/*Change the column into a flexbox*/
.footer-two .columns-4-cols > div
{
  display: flex;
}

/*Stretch the columns to be same height*/
.footer-two .columns-4-cols > div > div
{
  align-self: stretch;
}

footer .footer p {
  margin: 0;
}

.footer-two ul
{
  padding-left: 0;
}

/*Remove styling from the lists of the footer menus*/
.footer-two ul li
{
  list-style-type: none;
}

/* styling of footer menu */
.footer-two ul li a
{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  padding-top: 0;
  line-height: 3rem;
  text-transform: none;
  color: rgb(51, 51, 51);
  opacity: 0.5;
}

#mail-lbl
{
  font-size: 12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

.footer-two ul li a:hover
{
  padding-top: 0;
  text-decoration: none;
  line-height: 3rem;
  text-transform: none;
  color: #A3A3A3;
}

.socials
{
  padding: 30px 0 0 0;
  word-spacing: 2rem;
}
/*icons resizing*/
#instagram,#facebook, #twitter
{
  width: 18px;
  height: 18px;
  fill: black;
}

#our-apps-icon,#gift-cards-icon
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding-bottom: 1rem;
}

#our-apps,#gift-cards
{
  margin-left: 1rem;
}


/*Flex box of last section of the footer*/
.footer-three
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

#footer-logo
{
  width: 6rem;
  height: 4rem;
}
#footer-logo svg
{
  width: inherit;
  height: inherit;
}

.footer-three > div > div
{
  padding: 1rem;
}

.footer-three > div > div > div > div > p > a
{
  padding: 0;
  padding-left: 1rem;
  font-size: 13px;
  color: rgb(51, 51, 51);
  opacity: 0.5;
}

.footer-three > div > div > div > div > p > a:hover
{
  text-decoration: none;
  text-transform: none;
  color: #A3A3A3;
}

/*Responsiveness*/
@media (width <= 900px)
{
  footer{
    padding: 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  #mail
  {
    text-align: left;
  }
  .footer-one,.footer-three
  {
    flex-direction: column;
    align-items: center;
  }
  .footer-two
  {
    flex-direction: column;
    text-align: center;
  }
  .footer-two ul
  {
    text-align: center;
  }
  .footer-one p
  {
    text-align: center;
  }
  .socials
  {
    text-align: center;
  }

  .Column-4-Icons
  {
    display: inline-flex;
    justify-content: center;
  }

  #our-apps-icon,#gift-cards-icon
  {
    justify-content: center;
    margin-left: 2rem;
  }

  .footer-three
  {
    display: flex;
    flex-direction: column;
  }
  .footer-three .columns.block.columns-1-cols > div > div > p
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 8px;
  }
}
