footer {
  background-color: var(--color-neutral-100);
  border: 1px solid rgb(229, 229, 229);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer-one,.footer-two
{
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 60px 10px 60px 10px;
}

.footer-one
{
  display: flex;
  height: 120px;
  column-gap: 90px;
}

.footer-one .form-wrapper
{
  flex-grow: 1;
}

.footer-one > div:first-child
{
    flex: 1 0 45%;
}

.footer-one > div:first-child p
{
  width: calc(60% - 10px);
}

.footer-one > div:first-child > div h5
{
  margin: 20px 0 20px 0;
}

/*Change the column into a flexbox*/
.footer-two .columns-4-cols > div
{
  display: flex;
}

/*Stretch the columns to be same height*/
.footer-two .columns-4-cols > div > div
{
  align-self: stretch;
}

/* footer second section heading */
.footer-two h6
{
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0 1rem 0;
}

.footer-two .columns-4-cols > div > div:nth-last-child(1) p
{
  margin: auto;
  display: inline block;
  padding: 10px;
  font-weight: 600;
}

.footer-two .columns-4-cols > div > div:nth-last-child(1) > p a,
.footer-two .columns-4-cols > div > div:nth-last-child(1) > p a:hover
{
  font-weight: bold;
  text-decoration: none;
}

/* giftcard and end app icon alignment */
.footer-two .columns-4-cols > div > div:nth-last-child(1) p span
{
  vertical-align: middle;
}

.footer-two .icon
{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

footer .footer p {
  margin: 0;
}

.footer-two ul
{
  padding-left: 0;
}

/*Remove styling from the lists of the footer menus*/
.footer-two ul li
{
  list-style-type: none;
}

/* styling of footer menu */
.footer-two ul li a
{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  padding-top: 0;
  line-height: 3rem;
  text-decoration: none;
  color: rgb(51, 51, 51);
  opacity: 0.5;
}

.footer-two ul li a:hover
{
  padding-top: 0;
  text-decoration: none;
  line-height: 3rem;
  text-transform: none;
  color: #A3A3A3;
}

/*icons resizing*/
.social-icons
{
  padding: 20px 0;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  /* fill: black; */
}

/*Flex box of last section of the footer*/
/* end logo */
.footer-three .icon
{
  width: 6rem;
  height: auto;
}
/* footer three parent */
.footer-three > div > div
{
  display: flex;
  margin-bottom: 100px;
}

/* footer three first div */
.footer-three > div > div > div > div:nth-child(1)
{
  flex: 0;
  margin-left: 30px;
}

/* footer three second div */
.footer-three > div > div > div > div:nth-child(2)
{
  flex: 1 0 70%;
  margin-left: -20px;
}

.footer-three > div > div > div > div:nth-child(3)
{
  flex: 1 0 44%;
  margin-top: 60px;
}


.footer-three > div > div > div > div > p > a
{
  padding: 0;
  padding-left: 1rem;
  font-size: 13px;
  color: rgb(51, 51, 51);
  opacity: 0.5;
}

.footer-three > div > div > div > div:last-child p:not(:first-child)
{
  padding: 0;
  font-size: 10px;
  color: rgb(51, 51, 51);
  opacity: 0.4;
}

.footer-three > div > div > div > div:last-child p:first-child
{
  display: flex;
  column-gap: 15px;
}

.footer-three > div > div > div > div:last-child p:first-child .icon
{
  width: 30px;
  height: auto;
  padding: 0 0 10px;
}

.footer-three > div > div > div > div > p > a:hover
{
  text-decoration: none;
  text-transform: none;
  color: #A3A3A3;
}

/*Responsiveness*/
@media (width <= 900px)
{
  footer{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .footer-one,.footer-two
  {
    padding: 60px 2px 32px 2px;
  }

  .footer-one,.footer-three
  {
    flex-direction: column;
    align-items: center;
  }

  .footer-one
  {
    height: 400px;
    width: 100%;
  }

  .footer-one > div:first-child > div h5
  {
    margin: auto;
    padding: 30px 0;
    width: 76vw;
  }

  .socials
  {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .footer-one > div:first-child p
  {
    width: 90%;
    margin: auto;
  }

  .footer-two
  {
    flex-direction: column;
    text-align: center;
  }
  /* footer menu list */
  .footer-two ul
  {
    text-align: center;
  }

  /* footer two giftcard and end app icons */
  .footer-two .columns-4-cols > div > div:nth-last-child(1)
  {
    display: flex;
    margin: auto;
    width: 65%;
  }

  .footer-one p
  {
    text-align: center;
  }

  .footer-three
  {
    padding: 0;
    margin-top: 4vh;
  }

  .footer-three > div > div
  {
    display: flex;
    flex-direction: column;
  }

  /* footer three first div */
  .footer-three > div > div > div > div:nth-child(1)
  {
    margin: auto;
    padding: 40px;
    order: 2;
  }

  /* footer three second div */
  .footer-three > div > div > div > div:nth-child(2)
  {
    margin-left: -20px;
  }

  /* terms and conditions links styling */
  .footer-three > div > div > div > div:nth-child(2) a
  {
    line-height: 35px;
  }

  /* last section of footer 3 with the payment icons and copy rights*/
  .footer-three > div > div > div > div:nth-child(3)
  {
    text-align: center;
    margin: auto;
  }

  /* payment icons */
  .footer-three > div > div > div > div:nth-child(3) p:first-child
  {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }

  /* copy right text */
  .footer-three > div > div > div > div:nth-child(3) p:not(:nth-child(1))
  {
    margin: auto;
    width: 75%;
  }

  /* footer terms and conditions menu */
  .footer-three > div > div > div > div:nth-child(2) p
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 8px;
  }
}
