@import url(./sub-heading-modal.css);
/* This includes Latest, Clothing and Accessories */

.nav-modal-content
  .three-cols-four-img
  div
  div:nth-child(2)
  p:nth-child(1):only-of-type,
.nav-modal-content
  .three-cols-four-img
  div
  div:nth-child(3)
  p:nth-child(1):only-of-type {
  list-style-type: none;
  display: flex;
  margin: 0;
  font-size: var(--sub-text-secondary-size);
  font-weight: 555;
  text-transform: uppercase;
}

.nav-modal-content .three-cols-four-img div ul,
.nav-modal-content .three-cols-four-img div div p picture {
  display: flex;
}

.nav-modal-content .three-cols-four-img div:nth-child(3) {
  flex: 2;
}

.nav-modal-content .three-cols-four-img div:nth-child(3) table p {
  margin: 5% 0;
  padding: 0;
  margin-bottom: 0%;
  padding-right: 8%;
  line-height: 0.5;
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  font-weight: 400;
}

.nav-modal-content .three-cols-four-img div:nth-child(3) table p:nth-child(2) {
  margin-bottom: 4%;
}

.nav-modal-content .three-cols-four-img div ul {
  list-style-type: none;
  flex-direction: column;
  float: left;
  margin: 5% 0;
  padding: 0;
  line-height: 2;
  font-size: var(--sub-text-secondary-size);
  font-weight: 400;
  text-transform: capitalize;
}

.nav-modal-content .three-cols-four-img div div {
  align-self: start;
}

.nav-modal-content
  .three-cols-four-img
  div
  div:nth-child(1)
  p:nth-child(1):only-of-type
  a {
  color: black;
  background-color: white;
  border-radius: 0;
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  padding: 0;
  margin: 0;
  font-weight: 555;
}

/*  border: 1px solid rebeccapurple; */
