/* This includes Latest, Clothing and Accessories */

.modal-content .columns-3-cols div div:nth-child(2) p:nth-child(1):only-of-type,
.modal-content
  .columns-3-cols
  div
  div:nth-child(3)
  p:nth-child(1):only-of-type {
  list-style-type: none;
  display: flex;
  margin: 0;
  font-size: var(--sub-text-secondary-size);
  font-weight: 555;
  text-transform: uppercase;
}

.modal-content .columns-3-cols div ul,
.modal-content .columns-3-cols div div p picture {
  display: flex;
}

.modal-content .columns-3-cols div:nth-child(3) {
  flex: 2;
}

.modal-content .columns-3-cols div:nth-child(3) table p {
  margin: 5% 0;
  padding: 0;
  margin-bottom: 0%;
  padding-right: 8%;
  line-height: 0.5;
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}

.modal-content .columns-3-cols div:nth-child(3) table p:nth-child(2) {
  margin-bottom: 4%;
}

.modal-content .columns-3-cols div ul {
  list-style-type: none;
  flex-direction: column;
  float: left;
  margin: 5% 0;
  padding: 0;
  line-height: 2;
  font-size: var(--sub-text-secondary-size);
  font-weight: 100;
  text-transform: capitalize;
}

.modal-content .columns-3-cols div div {
  align-self: start;
}

.modal-content
  .columns-3-cols
  div
  div:nth-child(1)
  p:nth-child(1):only-of-type
  a {
  border: none;
  color: black;
  background-color: white;
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  padding: 0;
  margin: 0;
  font-weight: 555;
}

@media (width < 599px) {
  .modal-content
    .columns-3-cols
    div
    div:nth-child(1)
    p:nth-child(1):only-of-type
    a {
    width: 100vw;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    border-radius: 0;
    margin-left: auto;
  }

  /* This is used to create '< Latest' on top of the mobile modal */
  .modal-content
    .columns-3-cols
    div
    div:nth-child(1)
    p:nth-child(1):only-of-type
    a::before {
    border-bottom: 1px solid var(--sub-text-border-divider);
    content: "< Latest";
    display: flex;
    font-size: 1.2em;
    padding: 2% 0;
    margin-bottom: 8%;
    font-weight: lighter;
    justify-content: flex-start;
  }

  .modal-content
    .columns-3-cols
    div
    div:nth-child(2)
    p:nth-child(1):only-of-type,
  .modal-content
    .columns-3-cols
    div
    div:nth-child(3)
    p:nth-child(1):only-of-type {
    margin-bottom: 8%;
    border: 1px solid rebeccapurple;
  }

  .modal-content .columns-3-cols div div ul {
    line-height: 4;
    font-size: var(--sub-text-title-large);
  }
  .modal-content .columns-3-cols div div p {
    font-size: var(--sub-text-title-large);
  }

  .modal-content .columns-3-cols div:nth-child(3) table p,
  .modal-content
    .columns-3-cols
    div
    div:nth-child(3)
    p:nth-child(1):only-of-type {
    display: none;
  }
}

/*  border: 1px solid rebeccapurple; */
