/* Brands, Footwear and Lifestyle uses this as well */

.modal-content .columns-4-cols div div p:nth-child(1):only-of-type,
.modal-content .columns-4-cols div div p:nth-child(1) {
  list-style-type: none;
  display: flex;
  margin: 0;
  font-size: var(--sub-text-secondary-size);
  font-weight: 555;
  text-transform: uppercase;
}

.modal-content .columns-4-cols div div {
  align-self: start;
}

.modal-content .columns-4-cols div ul,
.modal-content .columns-4-cols div div p picture {
  display: flex;
  flex-direction: column;
}

.modal-content .columns-4-cols div:nth-child(4) {
  flex: 1;
}

.modal-content .columns-4-cols div:nth-child(4) table p {
  margin: 5% 0;
  padding: 0;
  margin-bottom: 0%;
  padding-right: 8%;
  line-height: 0.5;
  color: var(--sub-text-title-color);
  font-size: var(--sub-text-secondary-size);
}

.modal-content .columns-4-cols div:nth-child(4) table p:nth-child(2) {
  margin-bottom: 4%;
}

.modal-content .columns-4-cols div ul {
  list-style-type: none;
  flex-direction: column;
  float: left;
  margin: 5% 0;
  padding: 0;
  line-height: 2;
  font-size: var(--sub-text-secondary-size);
  font-weight: 100;
}
