@import url(./sub-heading-modal.css);
@import url(../../all-featured-articles/three-cols-articles-modal.css);

.features-modal-section {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: center;
  margin: 0 auto;
}

.features-modal {
  width: fit-content;
}

.features-modal-section .columns-wrapper,
.features-modal-section div.default-content-wrapper {
  margin: 0 !important;
}

.features-modal div div:nth-child(1) p a {
  border-radius: 0;
  border: none;
  color: black;
  background-color: transparent;
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  padding: 0;
  margin: 0;
  font-weight: 600;
}

/* Categories */
.features-modal div ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  float: left;
  margin: 5% 0;
  padding: 0;
  line-height: 2;
  font-size: var(--sub-text-secondary-size);
  font-weight: 400;
  text-transform: capitalize;
}

.features-modal > div > div:nth-child(1) {
  flex: 0.5;
}

.three-cols-articles-modal {
  justify-content: center;
  flex: 2;
}

@media (width <= 991px) {
  /* Features */
  .features-modal {
    margin: 10% 0;
  }

  .features-modal div div:nth-child(1) p a {
    font-size: 16px;
  }
  .features-modal div div:nth-child(1) p a,
  .features-modal ul {
    margin-left: 3vw !important;
  }

  .features-modal ul li {
    margin-bottom: 10%;
    font-size: 16px;
  }

  .features-modal ul li:last-child {
    margin-bottom: 0%;
  }

  .features-modal ul li:nth-child(1) {
    margin-top: 10%;
  }

  .features-modal-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 !important;
    margin-left: -3.5vw !important;
  }
}
