.features-modal div div:nth-child(1) p a {
  border-radius: 0;
  border: none;
  color: black;
  background-color: white;
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  padding: 0;
  margin: 0;
  font-weight: 555;
}

.features-modal div ul {
  list-style-type: none;
  flex-direction: column;
  float: left;
  margin: 5% 0;
  padding: 0;
  line-height: 2;
  font-size: var(--sub-text-secondary-size);
  font-weight: 100;
  text-transform: capitalize;
}

.features-modal div ul,
.features-modal div div:nth-child(2) {
  display: flex;
}

.features-modal div div table td p:nth-child(3) {
  height: 60px;
}

.features-modal div:nth-child(2) {
  flex: 2;
}

.features-modal div:nth-child(2) table p {
  margin: 0 auto;
  padding: 0;
  width: 326px;
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}
.features-modal div:nth-child(2) table p:nth-child(2) a,
.features-modal div:nth-child(2) table p:nth-child(3) a {
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0;
  text-wrap: wrap;
  margin: 0;
  justify-content: flex-start;
  text-align: left;
  padding: 0;
}

.features-modal div:nth-child(2) table p:nth-child(2) a {
  padding-top: 4%;
  font-size: 10px;
  color: var(--sub-text-grey);
}

.features-modal div:nth-child(2) table p:nth-child(3) a {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}

.features-modal div div {
  align-self: start;
}
