@import url(./sub-heading-modal.css);

.features-modal div div:nth-child(1) p a {
  border-radius: 0;
  border: none;
  color: black;
  background-color: transparent;
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  padding: 0;
  margin: 0;
  font-weight: 555;
}

.features-modal div ul {
  list-style-type: none;
  flex-direction: column;
  float: left;
  margin: 5% 0;
  padding: 0;
  line-height: 2;
  font-size: var(--sub-text-secondary-size);
  font-weight: 400;
  text-transform: capitalize;
}

.features-modal div ul,
.features-modal div div:nth-child(2) {
  display: flex;
}

.features-modal div:nth-child(2) {
  flex: 2;
}

.features-modal div:nth-child(2) table p a {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0;
  justify-content: flex-start;
  text-wrap: wrap;
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  text-align: left;
}
.features-modal div:nth-child(2) table {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.features-modal div:nth-child(2) table p:nth-child(2) a {
  padding-top: 4%;
  font-size: 10px;
  color: var(--sub-text-grey);
  flex: 1;
}

.features-modal div:nth-child(2) table p:nth-child(3) a {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
  flex: 1;
}

.features-modal div:nth-child(2) table tr:nth-child(2) td,
.features-modal div:nth-child(2) table tr:nth-child(3) td {
  padding: 0 4px;
  width: 100%;
  max-width: 280px;
  align-content: flex-start;
}

.features-modal div:nth-child(2) table tr:nth-child(2) td {
  padding-bottom: 2%;
}

.features-modal div div {
  align-self: start;
  padding-bottom: 2%;
}

.features-modal > div > div:nth-child(1) {
  flex: 0.5;
}

.features-modal div:nth-child(2) table p:nth-child(1) a picture img {
  max-height: 187px;
  width: auto;
}

@media (width <= 991px) {
  /* Features */
  .features-modal > div > div:nth-child(1) li:nth-child(1) {
    margin-top: 10%;
  }
  .features-modal > div > div:nth-child(1) li {
    margin-bottom: 20%;
  }

  .features-modal > div {
    flex-direction: column !important;
  }

  .features-modal table {
    border-top: 1px solid var(--sub-text-border-divider);
    width: 90vw !important;
    max-width: 372px;
    margin-bottom: 15%;
  }

  .features-modal table tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  .features-modal table td {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 5%;
    flex-direction: column;
    padding: 0;
  }

  .features-modal div:nth-child(2) table p:nth-child(2),
  .features-modal div:nth-child(2) table p:nth-child(3) {
    margin: auto 0;
  }

  .features-modal div:nth-child(2) table p:nth-child(2) a,
  .features-modal div:nth-child(2) table p:nth-child(3) a {
    margin: auto 2%;
  }

  .features-modal div:nth-child(2) table p:nth-child(1) a picture img {
    width: 100%;
    height: auto;
  }

  .features-modal table picture {
    width: 284px;
    padding: 0;
    margin: 2% auto;
  }
}
