@import url(./sub-heading-modal.css);
@import url(../../product-releases-showcase/product-releases-showcase.css);

/* Title */
.nav-modal-content .launches-modal picture {
  display: flex;
  flex: 2;
  width: 280px;
}
