@import url(./sub-heading-modal.css);

/* Title */
.nav-modal-content
  .product-releases-showcase-container
  .default-content-wrapper
  p:nth-child(2)
  a {
  font-weight: 550;
  padding: 0.5%;
  margin: 0;
  border-radius: 0;
  color: var(--sub-text-title-color);
  font-size: var(--sub-text-secondary-size);
  margin-left: -2%;
  margin-bottom: 3%;
  border-radius: 0;
}

.nav-modal-content .launches-modal picture {
  display: flex;
  flex: 2;
  width: 280px;
}

.nav-modal-content div:nth-child(2) .default-content-wrapper p:nth-child(1) a {
  border-radius: 0;
  border: none;
  color: black;
  background-color: transparent;
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
  padding: 0;
  margin: 0;
  font-weight: 600;
}
