@media (width >=992px) {
  .nav-modal-content div:nth-child(1) .default-content-wrapper p:nth-child(1) {
    display: none;
  }

  .nav-modal-content
    div:nth-child(2)
    .default-content-wrapper
    p:nth-child(1)
    a {
    margin-bottom: 4vh;
  }

  .nav-modal-content .features-modal div p {
    width: 100%;
    border: 2px solid transparent;
  }
}
@media (width <= 991px) {
  .nav-modal-content .columns > div {
    margin-bottom: 10vh;
    flex-direction: column !important;
    gap: 0;
  }

  .nav-modal-content .nav-modal-content-section,
  .features-modal-section {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    height: fit-content;
  }

  .nav-modal-content .features-modal-section {
    padding: 0;
    max-width: 400px;
  }

  .nav-modal-content div:nth-child(1) .default-content-wrapper p:nth-child(1) {
    display: flex;
    position: fixed;
    margin-top: 1.5vh;
    height: auto;
    align-items: center;
    width: 100vw;
    max-width: 352px;
  }

  .nav-modal-content
    div:nth-child(1)
    .default-content-wrapper
    p:nth-child(1)
    a {
    background-color: transparent;
    color: var(--sub-text-title-color);
    font-weight: 400;
    text-align: left;
    margin: 2%;
    padding: 0;
    border-radius: 0;
  }

  .nav-modal-content
    div:nth-child(2)
    .default-content-wrapper
    p:nth-child(1)
    a {
    margin-top: 4vh;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .nav-modal-content .features-modal {
    margin: 0;
  }

  .nav-modal-content .features-modal div {
    margin: 0;
  }

  .nav-modal-content .features-modal div p {
    margin-top: 2vh;
  }

  /* Titles */
  .nav-modal-content .three-cols-four-img > div div p,
  .nav-modal-content .four-cols-two-img > div div p {
    width: 100%;
    border: 2px solid transparent;
  }

  /* Titles */
  .nav-modal-content .three-cols-four-img > div div p a,
  .nav-modal-content .four-cols-two-img > div div p a {
    margin: 0;
    margin-top: 2vh !important;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-date-color);
  }

  /* Ul content */
  .nav-modal-content .three-cols-four-img > div div,
  .nav-modal-content .four-cols-two-img > div div {
    padding-left: 5%;
  }

  .nav-modal-content .three-cols-four-img > div div ul li,
  .nav-modal-content .four-cols-two-img > div div ul li {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    align-items: center;
    color: var(--text-date-color);
  }

  .nav-modal-content .three-cols-four-img > div div:nth-child(2) ul,
  .nav-modal-content .four-cols-two-img > div div:nth-child(2) ul {
    margin-top: 0;
    padding-top: 0;
  }

  .nav-modal-content .three-cols-four-img > div div:nth-child(2) p:nth-child(1),
  .nav-modal-content .three-cols-four-img table,
  .nav-modal-content .four-cols-two-img table,
  .nav-modal-content .four-cols-two-img div div:nth-child(2) p,
  .nav-modal-content .four-cols-two-img div div:nth-child(3) p,
  .nav-modal-content .four-cols-two-img div div:nth-child(4) p,
  .nav-modal-content
    .three-cols-four-img
    div
    div:nth-child(3)
    p:nth-child(1):only-of-type {
    display: none !important;
  }

  .nav-modal-content .product-releases-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4vh !important;
    padding-bottom: var(--nav-height);
  }

  .nav-modal-content-section .columns-wrapper {
    min-height: 100vh;
    margin-bottom: var(--nav-height);
  }

  .nav-modal-content .launches-modal picture {
    width: 100%;
  }
}
