.nav-modal-content .latest-modal p:nth-child(1) a,
.nav-modal-content .latest-modal-brands p:nth-child(1),
.nav-modal-content .latest-modal ul,
.nav-modal-content .latest-modal ul a,
.nav-modal-content .latest-modal-brands ul,
.nav-modal-content .latest-modal-brands ul a,
.nav-modal-content
  .nav-modal-content-section
  div:nth-child(1)
  p:nth-child(1):only-of-type
  a {
  background-color: transparent;
  border-radius: 0;
  font-size: var(--sub-text-secondary-size);
  color: var(--text-date-color);
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-modal-content .latest-modal p:nth-child(1) a,
.nav-modal-content .latest-modal-brands p:nth-child(1) {
  font-weight: 555;
  text-transform: uppercase;
}

.nav-modal-content div div ul,
.nav-modal-content div div div p picture {
  display: flex;
  flex-direction: column;
}

.nav-modal-content .latest-modal ul,
.nav-modal-content .latest-modal ul a,
.nav-modal-content .latest-modal-brands ul,
.nav-modal-content .latest-modal-brands ul a {
  list-style-type: none;
  flex-direction: column;
  float: left;
  font-size: var(--sub-text-secondary-size);
  font-weight: 400;
  text-transform: inherit;
}

.nav-modal-content div div div {
  align-self: start;
}

.nav-modal-content
  .four-cols-two-img
  div
  div:nth-child(1)
  p:nth-child(1):only-of-type {
  border-radius: 0;
}

@media (width >=992px) {
  .nav-modal-content div:nth-child(1) .default-content-wrapper p:nth-child(1) {
    display: none;
  }

  .nav-modal-content
    div:nth-child(2)
    div:nth-child(1)
    p:nth-child(1):only-of-type,
  .nav-modal-content
    div:nth-child(2)
    div:nth-child(1)
    p:nth-child(1):only-of-type
    a {
    text-wrap: nowrap;
    height: 35px;
  }

  .nav-modal-content .latest-modal ul,
  .nav-modal-content .latest-modal ul a,
  .nav-modal-content .latest-modal-brands ul,
  .nav-modal-content .latest-modal-brands ul a {
    line-height: 2;
  }

  .nav-modal-content
    div:nth-child(2)
    .default-content-wrapper
    p:nth-child(1)
    a {
    margin-bottom: 4vh;
  }

  .nav-modal-content .features-modal div p,
  .nav-modal-content .latest-modal div p {
    width: 100%;
    border: 2px solid transparent;
  }
}
@media (width <= 991px) {
  .nav-modal-content .latest-modal p:nth-child(1) a,
  .nav-modal-content .latest-modal-brands p:nth-child(1),
  .nav-modal-content .latest-modal ul,
  .nav-modal-content .latest-modal ul a,
  .nav-modal-content .latest-modal-brands ul,
  .nav-modal-content .latest-modal-brands ul a {
    font-size: 16px;
  }

  .nav-modal-content .latest-modal p:nth-child(1) a,
  .nav-modal-content .latest-modal ul a,
  .nav-modal-content .latest-modal-brands ul a {
    height: 56px;
  }

  .featured-title,
  .nav-modal-latest-content-section .featured-title,
  .nav-modal-quad-content-section .featured-title,
  .latest-modal-brands div div p {
    display: none !important;
  }

  .nav-modal-latest-content-section,
  .nav-modal-quad-content-section {
    flex-direction: column;
  }

  .nav-modal-latest-content-section .columns-wrapper,
  .nav-modal-quad-content-section .columns-wrapper,
  .features-modal-section .columns-wrapper {
    margin: 0;
    margin-left: 5vw !important;
  }

  .features-modal-section .columns-wrapper {
    padding-left: 40px;
  }

  .nav-modal-content .nav-modal-content-section,
  .features-modal-section,
  .nav-modal-latest-content-section,
  .nav-modal-quad-content-section {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    height: fit-content;
  }

  .nav-modal-content .features-modal-section,
  .nav-modal-content .nav-modal-latest-content-section,
  .nav-modal-content .nav-modal-quad-content-section {
    padding: 0;
    max-width: 400px;
  }

  .nav-modal-content div:nth-child(1) .default-content-wrapper p:nth-child(1) {
    display: flex;
    position: fixed;
    margin-top: 1.5vh;
    height: auto;
    align-items: center;
    width: 100vw;
    max-width: 352px;
  }

  .nav-modal-content
    div:nth-child(1)
    .default-content-wrapper
    p:nth-child(1)
    a {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: 400;
    text-align: left;
    margin: 2%;
    padding: 0;
    border-radius: 0;
  }

  .nav-modal-content
    div:nth-child(2)
    .default-content-wrapper
    p:nth-child(1)
    a {
    margin-top: 4vh;
    font-size: 16px;
    display: flex;
    font-weight: 550;
    align-items: center;
  }

  .nav-modal-content .features-modal,
  .nav-modal-content .latest-modal {
    margin: 0;
  }

  .nav-modal-content .features-modal div,
  .nav-modal-content .latest-modal div {
    margin: 0;
  }

  .nav-modal-content .product-releases-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4vh !important;
    margin-bottom: var(--nav-height);
    padding-bottom: var(--nav-height);
  }

  .nav-modal-content-section .columns-wrapper {
    min-height: 100vh;
    margin-bottom: var(--nav-height);
  }

  .nav-modal-content .launches-modal picture {
    width: 100%;
  }
}
