@media (width <= 600px) {
  /* Launches */
  .modal-content .columns-4-cols div div {
    width: auto;
    margin-left: -2%;
    margin-bottom: 10%;
  }

  .modal-content * p {
    display: flex;
    padding: 0;
    flex: 1;
    margin: 0;
    font-size: var(--sub-text-secondary-size);
    line-height: 1.5;
    text-transform: capitalize;
  }

  /* This is used to create '< Launches' on top of the mobile modal */
  .modal-content .default-content-wrapper p:nth-child(1) a {
    text-transform: capitalize;
    font-size: var(--sub-text-title-large);
    padding: 0;
    margin-top: 2%;
    border: none;
    background-color: white;
    color: var(--sub-text-title-color);
  }

  .modal-content .default-content-wrapper p:nth-child(1) {
    border-bottom: 1px solid var(--sub-text-border-divider);
    align-items: center;
    display: flex;
  }

  .modal-content .default-content-wrapper p:nth-child(2) {
    font-weight: 550;
    margin: 8% 0;
    color: var(--sub-text-title-color);
  }

  .modal-content div div p:nth-child(2) {
    color: var(--sub-text-grey);
    font-weight: 100;
  }

  .modal-content div div p:nth-child(2),
  .modal-content div div p:nth-child(3) {
    font-size: var(--sub-text-secondary-size);
  }

  .modal-par a.button.secondary {
    border: none;
    font-size: var(--sub-text-secondary-size);
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }

  .modal-content picture {
    display: flex;
    flex: 2;
    width: 400px;
  }

  /* 3-cols-4-img */
  .modal-content
    .three-cols-four-img
    div
    div:nth-child(1)
    p:nth-child(1):only-of-type
    a {
    width: 100%;
    text-align: left;
    border-radius: 0;
    margin-left: auto;
    padding-top: 8%;
  }

  .modal-content
    .three-cols-four-img
    div
    div:nth-child(2)
    p:nth-child(1):only-of-type,
  .modal-content
    .three-cols-four-img
    div
    div:nth-child(3)
    p:nth-child(1):only-of-type {
    margin-bottom: 8%;
  }

  .modal-content .three-cols-four-img div div ul {
    line-height: 4;
    font-size: var(--sub-text-title-large);
  }
  .modal-content .three-cols-four-img div div p {
    font-size: var(--sub-text-title-large);
  }

  .modal-content .three-cols-four-img div:nth-child(3) table p,
  .modal-content
    .three-cols-four-img
    div
    div:nth-child(3)
    p:nth-child(1):only-of-type {
    display: none;
  }

  /* 4-cols-2-img */
  .modal-content
    .four-cols-two-img
    div
    div:nth-child(1)
    p:nth-child(1):only-of-type {
    width: 100%;
    text-align: left;
    border-radius: 0;

    padding-top: 8%;
  }

  .modal-content
    .four-cols-two-img
    div
    div:nth-child(2)
    p:nth-child(1):only-of-type,
  .modal-content
    .four-cols-two-img
    div
    div:nth-child(3)
    p:nth-child(1):only-of-type {
    margin-top: 2%;
    line-height: 4;
  }

  .modal-content .four-cols-two-img div div ul {
    line-height: 4;
    margin-bottom: 7%;
    font-size: var(--sub-text-title-large);
  }
  .modal-content .four-cols-two-img div div p {
    font-size: var(--sub-text-title-large);
  }

  /* Features */
  .features-modal table {
    border-top: 2px solid var(--sub-text-border-divider);
    margin-top: 5%;
    margin-bottom: 15%;
  }

  .features-modal table td {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .features-modal div:nth-child(2) table p:nth-child(2),
  .features-modal div:nth-child(2) table p:nth-child(3) {
    margin: auto 0;
  }

  .features-modal div:nth-child(2) table p:nth-child(2) a,
  .features-modal div:nth-child(2) table p:nth-child(3) a {
    margin: auto 2%;
  }

  .features-modal table {
    width: 100%;
  }
  .features-modal div:nth-child(2) table p:nth-child(1) a picture img {
    width: 100%;
    height: 100%;
  }

  .features-modal table picture {
    width: 325px;
    padding: auto;
    margin: 2% auto;
  }
}
