.product-details__wrapper {
  display: grid;
  grid-template-columns: repeat(var(--grid-1-columns), 1fr);
  column-gap: var(--grid-1-gutters);
  margin-top: var(--spacing-medium);
}

.product-details__left-column {
  display: none;
}

.product-details__right-column {
  grid-column: 1 / span 4;
  color: var(--color-neutral-800);
}

.product-details__alert {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.product-details__alert:empty {
  display: none;
}

.product-details__header {
  margin-bottom: var(--spacing-medium);
}

.product-details__price {
  margin-top: var(--spacing-medium);
}

.product-details__gallery .pdp-carousel {
  max-height: 60vh;
}

.product-details__gallery .pdp-carousel--thumbnailsRow {
  max-height: 80vh;
}

.product-details__gallery .pdp-overlay__content .pdp-carousel,
.product-details__gallery .pdp-overlay__content .pdp-carousel--thumbnailsRow
{
  max-height: unset;;
}


.product-details__configuration {
  grid-column: 1 / span 4;
  display: grid;
  grid-auto-flow: row;
  gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
  margin-bottom: var(--spacing-xxbig);
  margin-top: var(--spacing-big);
}

.product-details__buttons {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
}

.product-details__buttons > div {
  display: contents;
}

.product-details__attributes {
  margin-top: var(--spacing-xsmall);
}

@media (min-width: 900px) {
  .product-details__wrapper {
    grid-template-columns: repeat(var(--grid-3-columns), 1fr);
    column-gap: var(--grid-3-gutters);
    position: relative;
  }

  .product-details__alert {
    grid-column: 1 / span 12;
    margin-bottom: var(--spacing-medium);
  }

  .product-details__left-column {
    display: block;
    grid-column: 1 / span 6;
  }
  
  .product-details__right-column {
    grid-column: 7 / span 5;
    padding-top: var(--spacing-medium);
  }

  .product-details__right-column .product-details__gallery {
    display: none;
  }

  .product-details__configuration {
    grid-template-columns: repeat(var(--grid-1-columns), 1fr);
    gap: var(--grid-1-gutters);
    margin-top: var(--spacing-xxbig);
  }

  .product-details__options {
    grid-column: 1 / span 4;
  }

  .product-details__buttons {
    grid-column: 1 / span 4;
  }

  .product-details__quantity {
    grid-column: 1 / span 2;
  }
}

/* Video Gallery Styles */
.product-gallery__video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: var(--color-neutral-100);
}

.product-gallery__video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-gallery__video-iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border: none;
}

.product-gallery__video-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 60px;
  min-width: 60px;
  background-color: var(--color-neutral-200);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.product-gallery__video-thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-gallery__video-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgb(0 0 0 / 70%);
  border-radius: 50%;
  color: white;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
