/* stylelint-disable selector-class-pattern */
.product-list-page {
  min-height: 700px;
}

.product-list-page
  .ds-widgets-_actions
  .pb-4
  .ds-sdk-filter-button-desktop
  button {
  border-radius: 0;
  display: flex;
}

/* Show Filters */
.product-list-page .ds-sdk-filter-button-desktop button span,
.product-list-page .ds-sdk-filter-button-desktop .bg-background {
  margin: auto;
  outline-color: transparent;
  font-weight: 520;
  font-size: var(--sub-text-secondary-size);
}
/* Sort By */
.product-list-page .ds-sdk-sort-dropdown .bg-background span,
.product-list-page .ds-sdk-sort-dropdown .bg-background {
  margin: auto;
  outline-color: transparent;
  font-weight: 520;
  font-size: var(--sub-text-secondary-size);
  border: none;
}

/* Categories tab */
/* Categries Headers */
.product-list-page .ds-widgets-_actions .ds-sdk-input__label {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}

/* Categries Content */
.product-list-page .ds-widgets-_actions .ds-sdk-labelled-input,
.product-list-page .ds-widgets-_actions .ds-sdk-labelled-input label {
  color: var(--sub-text-title-color);
  font-size: var(--sub-text-small);
}

/* Product Columns*/
.product-list-page .ds-sdk-product-list {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}
/* Product Card*/
.product-list-page .ds-sdk-product-list .ds-sdk-product-item {
  margin: auto;
}

/* Product Image*/
.product-list-page
  .ds-sdk-product-list
  .ds-sdk-product-item__image
  .overflow-hidden {
  display: flex;
  margin: auto;
  max-width: 250px;
  width: auto;
  flex: 1;
}

.product-list-page .ds-sdk-product-item__image img {
  /* max-width: 250px; */
  width: auto;
  margin: auto;
}

/* Product Name and Price*/
.product-list-page .ds-sdk-product-list .ds-sdk-product-item__product-name,
.product-list-page .ds-sdk-product-list .ds-sdk-product-price p {
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}

.product-list-page .ds-widgets_results .ds-sdk-per-page-picker {
  border: none;
  outline-color: transparent;
}

.product-list-page .ds-sdk-product-item button {
  border-radius: 0;
}

@media (1300px >= width >= 750px) {
  .product-list-page {
    min-height: auto;
  }

  /* Product Columns*/
  .product-list-page .ds-sdk-product-list {
    justify-content: center;
    max-width: max-content;
  }

  /* Product Card*/
  .product-list-page .ds-sdk-product-list .ds-sdk-product-item {
    text-wrap: wrap;
    justify-content: space-between;
  }

  /* Product Image*/
  .product-list-page
    .ds-sdk-product-list
    .ds-sdk-product-item__image
    .overflow-hidden {
    margin: 0;
  }

  .product-list-page .ds-sdk-product-list .ds-sdk-product-item__product-name {
    text-wrap: wrap;
    width: 150px;
  }
}

@media (width <= 899px) {
  .product-list-page .ds-sdk-filter-button svg:nth-child(1) {
    margin-top: -3%;
    margin-right: 1%;
  }

  .product-list-page .ds-sdk-sort-dropdown {
    margin: 0;
    margin-right: -2%;
    padding: 0;
  }
  /* Categories tab */
  /* Categries Headers */

  .product-list-page .ds-sdk-product-list__grid {
    margin: auto 0;
    margin-left: -2%;
  }

  .product-list-page .pb-4 .ds-sdk-filter-button button span,
  .product-list-page .pb-4 .ds-sdk-filter-button button {
    outline-color: transparent;
    font-weight: 520;
    margin-bottom: 4%;
  }

  /* Product Image*/
  .product-list-page
    .ds-sdk-product-list
    .ds-sdk-product-item__image
    .overflow-hidden {
    margin: auto 0;
    width: auto;
    flex: 1;
  }

  .product-list-page .ds-sdk-product-item__image img {
    min-width: 150px;
    margin: auto 0;
  }
}
