/* stylelint-disable no-descending-specificity */
.minicart-backdrop {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.minicart-panel {
  display: flex;
  position: relative;
  box-shadow: var(--shape-shadow-2);
  padding: 0px;
  background: var(--background-color);
  flex-direction: column;
  box-sizing: content-box;
}

/* Shopping cart close */

/* Cart display */
header nav .nav-tools .minicart-panel {
  position: fixed;
  animation-name: slideLeft;
  animation-duration: 0.6s;
  right: 0%;
  padding: 0;
  height: 100vh;
  max-width: 400px;
  width: 100%;
  top: 0;
  z-index: 4;
}

.minicart-panel.empty {
  gap: 0;
}

.minicart-panel .minicart-header {
  display: flex;
  height: 52px;
  align-items: center;
  margin-bottom: 3vh !important;
  border-bottom: 1px solid var(--sub-text-border-divider);
  width: 100%;
  padding: 0;
  margin: 0;
}

.minicart-panel .minicart-header .title {
  margin: 0 auto;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 550;
  color: var(--main-text-color);
}

.minicart-panel .minicart-header .close {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-image: url('../../icons/x-lg.svg');
  color: var(--color-brand-700);
  line-height: 1.2rem;
  left: 1vw;
  font-size: 0;
}

.minicart-panel .cart-empty {
  text-align: center;
}

.minicart-panel .minicart-list {
  max-width: 400px;
  list-style-type: none;
  padding: 0;
}

.minicart-panel .minicart-list li {
  columns: var(--main-text-color);
  list-style-type: none;
}

.minicart-panel .minicart-product {
  align-items: stretch;
  gap: 10px;
}

.minicart-panel .minicart-product div {
  flex-direction: column;
  margin: auto 0;
  text-align: left;
  align-items: start;
  width: 100%;
  gap: 5px;
}
.minicart-panel .minicart-product .image img {
  position: static;
  transform: none;
  width: 72px;
  height: 72px;
}

.minicart-panel .minicart-product .name a,
.minicart-panel .minicart-product .colour p,
.minicart-panel .minicart-product .size p,
.minicart-panel .minicart-product div {
  font-size: 14px !important;
  font-weight: 400;
  text-transform: capitalize !important;
}

.minicart-panel .minicart-product .colour p {
  color: var(--sub-text-grey);
}

.minicart-panel .minicart-product .size p {
  color: var(--text-date-color);
}

.minicart-panel .minicart-product .price {
  display: flex;
  margin-bottom: 2px;
  align-items: center;
}

/* Action Button */
.minicart-panel .minicart-list .minicart-product div.actions {
  margin: 0;
  align-items: end;
}

/* Action Button */
.minicart-panel .minicart-list .minicart-product .quantity {
  flex-direction: row;
  align-items: center;
  max-height: 30px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  width: auto;
  gap: 0px;
  width: 100px;
}

.quantity-btn {
  font-size: 14px;
  padding: 2px 8px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  flex: 0 0 30px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-btn.minus {
  border-radius: 4px 0 0 4px;
}

.quantity-btn.plus {
  border-radius: 0 4px 4px 0;
}

.quantity-value {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: none;
  background-color: white;
  flex: 1;
  min-width: 30px;
  height: 22px;
  align-items: center;
  align-content: center;
}

/* Action Button */
.minicart-panel .minicart-list .minicart-product > .actions button {
  height: 18px;
  width: 18px;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: contain;

  background-color: transparent;
}

/* Delete Button */
.minicart-panel .minicart-product .actions .remove-product {
  background-image: url('../../icons/trash.svg');
}

/* Checkout */
.minicart-checkout {
  padding: 0;
  position: absolute;
  bottom: 2vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 396px;
  box-shadow: rgba(0, 0, 0, 0.03) 4px -10px 12px;
}

.minicart-checkout .checkout-message {
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  margin-bottom: 26px;
  margin-top: 24px;
  max-width: 326px;
  background-color: var(--free-shipping-background);
  border: var(--free-shipping-border);
}

.minicart-checkout .checkout-message p b {
  font-weight: 500;
}

.minicart-checkout .checkout-message img {
  width: 21px;
  height: 13px;
}

.minicart-checkout .checkout-message p {
  color: var(--free-shipping-color);
  font-weight: 400;
}

.minicart-checkout > div {
  padding: 0;
  margin: 5px 2px;
  display: flex;

  width: 90%;
  justify-content: space-between;
}

.minicart-checkout p {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-date-color);
}
.minicart-checkout h2 {
  font-weight: 500;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text-date-color);
  letter-spacing: 0.0228571rem;
}

.minicart-checkout .promo-accordion {
  flex-direction: column;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  border-top: 1px solid var(--sub-text-border-divider);
  border-bottom: 1px solid var(--sub-text-border-divider);
}

.minicart-checkout .promo-accordion span {
  width: 15px;
  height: 10px;
}

.minicart-checkout .promo-accordion .promo-text {
  margin: 0;
  width: 100%;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
}

.minicart-checkout .promo-accordion .promo-text p {
  font-size: 14px;
  height: 48px;
  align-content: center;
  font-weight: 400;
  color: var(--main-text-color);
}

.minicart-checkout .promo-accordion .promo-text .extend-trigger {
  margin: 0;
  gap: 10px;
}

.minicart-checkout .promo-accordion .extend-accordion {
  color: var(--sub-text-grey);
}

.minicart-checkout .promo-accordion .promo-code-input {
  width: 100%;
  flex-direction: column;
}

.minicart-checkout .promo-accordion .promo-code-input input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 100%;
  padding: 8px 0;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.minicart-checkout .promo-accordion .promo-code-input input:focus {
  border-bottom: 1px solid black;
}

.minicart-checkout .promo-accordion .promo-code-input input::placeholder {
  color: #aaa;
}

.minicart-checkout .promo-accordion .promo-buttons {
  gap: 30px;
  width: 328px;
  justify-content: space-between;
  height: 44px;
  margin-bottom: 20px;
}

.minicart-checkout .promo-accordion .promo-buttons button {
  width: 100%;
  height: 44px;
  font-weight: 500;
  text-transform: uppercase;
}

.minicart-checkout .checkout {
  margin-top: 2vh;
}

.minicart-checkout .checkout button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 44px;
  font-weight: 500;
  text-transform: uppercase;
}

.minicart-checkout .checkout button .icon {
  width: 16px;
  height: 16px;
}

.minicart-checkout .checkout p {
  font-weight: 500;
  color: var(--main-color-light);
  font-size: 14px;
}

.minicart-panel .minicart-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.minicart-panel .minicart-actions button {
  width: 100%;
  margin: 0;
}

.minicart-panel .minicart-actions button:hover {
  background-color: var(--color-brand-600);
}

.minicart-panel .overlay-background {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 60%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minicart-panel .overlay {
  background: var(--background-color);
  box-shadow: 0 0 12px 2px rgba(0 0 0 / 35%);
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.minicart-panel .overlay > .close {
  display: block;
  background: url('../../icons/x-lg.svg') center center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  padding: 18px;
  margin: 5px;
  border-radius: 0;
  margin-left: auto;
  border: 0;
  font-size: 0;
}

.minicart-panel .overlay > .content {
  padding: 0 30px;
}

.minicart-panel .overlay > .actions {
  padding: 0 30px 10px;
  display: flex;
  gap: 5px;
}

@media (width <= 991px) {
  .minicart-list li {
    padding-left: 24px;
    padding-right: 24px;
  }
}
