/* styling for affiliate page */
.affiliate-section
{
  width: 80%;
  margin: auto;
}
.affiliate-section h1
{
  text-align: center;
  font-size: 1.875em;
  line-height: var(--text-title-line-height);
  font-weight: var(--sub-text-title-weight);
}

.affiliate-section h3
{
  font-size: 16px;
  font-weight: var(--sub-text-title-weight);
  margin: 0;
}

.affiliate-section p
{
  font-size: 0.875em;
  line-height: var(--text-line-height);
  font-weight: var(--sub-text-weight);
}

.affiliate-section p a
{
    color: #1a1a1a;
    font-weight: var(--sub-text-title-weight);
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    font-size: 0.875em;
}

.affiliate-section p a:hover
{
    color: #ccc;
    text-decoration: none;
}

.affiliate-section ul
{
    margin-left: 10px;
    width: 100%;
    padding: 0;
}
.affiliate-section ul li
{
  margin:0;
  line-height: var(--text-line-height);
  padding: 0;
  font-size: 0.875em;
  font-weight: var(--sub-text-weight);
}