/* Banner */
.banner-section > .columns-wrapper div:nth-child(1) {
  position: relative;
}

/* Banner Section */
.banner-section > .columns-wrapper div div div p {
  display: flex;
  width: 100%;
  height: 450px;
}

/* Banner */

main .banner-section-carousel > div,
main .banner-section > div,
main .banner-section-articles > div {
  max-width: unset;
}

main .banner-section {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

main .banner-section-articles {
  padding: 0;
}

.banner-section {
  min-height: 70vh;
  height: 100%;
}

.banner-section picture,
.banner-section-articles picture {
  position: absolute;
  height: 100%;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  color: white;
}

.banner-section img {
  width: 100vw;
  height: 76vh;
}

.banner-section-carousel img {
  width: 100vw;
}

.banner-section .hero-content div div p:nth-child(2) {
  width: 100%;
  height: 100%;
}

/* Publications */
.banner-section .hero-content p em a {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: absolute;
}

.banner-section .hero-content p em:nth-child(1) a {
  font-size: 32px;
  letter-spacing: 5px;
  margin: 0 auto;
  left: 13.5%;
  bottom: 0%;
  border: none;
}
/* /Publications */

/* shop now */
.banner-section .hero-content p em:nth-child(2) a {
  border: 1px solid white;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  align-self: flex-end;
  text-align: center;
  margin: 0 auto;
  padding: 0.5% 2.5%;
  right: 13.5%;
  bottom: -2%;
  /* animation */
  background-color: transparent;
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
}

/* animation onHover*/
.banner-section .hero-content p em:nth-child(2) a:hover {
  background-color: white;
  color: black;
  opacity: 0.5;
}

.banner-section-latest
  > .columns-wrapper
  div:nth-child(1)
  div
  div:nth-child(1) {
  display: flex;
}

/* Banner */
.banner-section-latest > .columns-wrapper div:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1.5;
  padding-bottom: -2%;
}
/* Banner */

main .banner-section-latest > div {
  max-width: unset;
}

main .banner-section-latest {
  padding: 0;
}

.banner-section-latest {
  position: relative;
  padding: 32px;
  min-height: 58vh;
  width: 100%;
}

.banner-section-latest picture {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  inset: 0;
  box-sizing: border-box;
  color: white;
}

.banner-section-latest img {
  object-fit: cover;
  width: 100%;
  max-height: 435px;
}
