/* Banner Section */
.banner-section > .columns-wrapper div:nth-child(1) div div:nth-child(1) {
  display: flex;
}

/* Banner */
.banner-section > .columns-wrapper div:nth-child(1) {
  position: relative;
  width: 100%;
  flex: 1.5;
  padding-bottom: -2%;
}
/* Banner */

main .banner-section > div {
  max-width: unset;
}

main .banner-section {
  padding: 0;
}

.banner-section {
  position: relative;
  padding: 32px;
  min-height: 78vh;
}

.banner-section picture {
  position: absolute;
  height: 100%;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  color: white;
}

.banner-section img {
  object-fit: cover;
  width: 100%;
  height: 76vh;
}

/* Publications */
.banner-section .hero-content p em a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

/* Publications */
.banner-section .hero-content p em:nth-child(1) a {
  font-size: 25px;
  letter-spacing: 5px;
  align-self: flex-start;
  margin: -32% 9%;
  left: 0;
  border: none;
}

/* shop now */
.banner-section .hero-content p em:nth-child(2) a {
  border: 1px solid white;
  font-size: 14px;

  align-self: flex-end;
  text-align: center;
  margin: -33% 9%;
  padding: 0.5% 2.5%;
  right: 0;
  /* animation */
  background-color: transparent;
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
}

/* animation onHover*/
.banner-section .hero-content p em:nth-child(2) a:hover {
  background-color: white;
  color: black;
  opacity: 0.5;
}

.banner-section-latest
  > .columns-wrapper
  div:nth-child(1)
  div
  div:nth-child(1) {
  display: flex;
}

/* Banner */
.banner-section-latest > .columns-wrapper div:nth-child(1) {
  position: relative;
  width: 100%;
  flex: 1.5;
  padding-bottom: -2%;
}
/* Banner */

main .banner-section-latest > div {
  max-width: unset;
}

main .banner-section-latest {
  padding: 0;
}

.banner-section-latest {
  position: relative;
  padding: 32px;
  min-height: 78vh;
}

.banner-section-latest picture {
  position: absolute;
  height: 100%;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  color: white;
}

.banner-section-latest img {
  object-fit: cover;
  width: 100%;
  height: 76vh;
}
