.section-brands-col
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-brands-col > div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.section-brands-col > div > div
{
    background-color: rgb(241,241,241);
    padding: 40px 50px;
    cursor: pointer;
}

.section-brands-col > div > div > picture > img
{
    width: 150px;
    margin: auto;
}
