/* .search-container:has(.brands-search)
{
    width: 30%;
    margin: 0;
    padding: 0;
} */

.brands
{
    display: flex;
}

.brands div.columns-wrapper:first-child
{
    position: sticky;
    margin: 0;
    top: 70px;
    max-height: max-content;
}

.brands-letters
{
    max-width: max-content;
    text-align: left;
}

.brands-letters p 
{
    margin: 0;
    padding: 0;
}

.brands-letters p:nth-child(2)
{
    color: rgba(153, 153, 153,0.8);
}

.brands-letters ul
{
    display: grid;
    grid-template-columns: repeat(7,auto);
    list-style: none;
    text-align: center;
    padding: 5px;
}

.brands-name-section h2
{
    margin: 40px auto;
}

.brands-name-section table:not(:last-child)
{
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0;
}

.brands-name-section ul
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
    list-style: none;
    padding: 10px 0 40px;
    margin: 0;
}




