.section:has(.breadcrum-menu)
{
    padding: 0;
}

.breadcrum-menu
{
    opacity: 0.8;
}

.breadcrum-menu:nth-child(1) p .icon
{
    width: 10px;
    padding: 0 5px;
    height: auto;
}

.breadcrum-menu:nth-child(1) p a:hover
{
    text-decoration: none;
}