/* Christopher styling for a block with 3 columns*/
.section-three-col > div > div > h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 30px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 20px;
}

.section-three-col
{
    display: flex;
    flex-direction: column;
}

.section-three-col > div:first-child
{
    text-align: center;
    flex-grow: 1;
}

.section-three-col > div:first-child p
{
    width: 50%;
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 20px;
    display: inline-block;
}

.section-three-col > div:not(:first-child) > div
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 3;
}

.section-three-col > div:not(:first-child) > div > h4
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.section-three-col > div:not(:first-child) > div > .button-container
{
    margin: 0;
    padding: 0;
}

.section-three-col > div:not(:first-child) > div > .button-container > a
{
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(153, 153, 153);
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.section-three-col > div:not(:first-child) > div > p:first-child
{
    width: 100%;
    max-height: 400px;
}

.section-three-col > div:not(:first-child) > div > p img
{
    height: 100%;
}