@import url(../../../blocks/product-main-brand-showcase/product-main-brand-showcase.css);
@import url(../../../blocks/product-brand-showcase/product-brand-showcase.css);

/* Balenciaga Columns */

.brand-showcase div:nth-child(2) div {
  display: flex;
}

.product-main-brand-showcase-wrapper,
.product-brand-showcase-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  display: block;
  top: 0;
}
.featured-brand-showcase div div div div {
  border: 2px solid rebeccapurple;
}
.product-main-brand-showcase-wrapper {
  position: relative;
  left: 0;
  margin: 0;
}

/* Images container */

.brand-showcase {
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}

/* Images P containers */

.brand-showcase div:nth-child(2) div:nth-child(2) p {
  margin: 5% 5%;
  padding: 0 5%;
}

@media (max-width: 500px) {
  .brand-showcase div:nth-child(1) div:nth-child(1) {
    right: 5.6%;
  }
}
