/* Default styles */
.products-carousel div div p {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

/* Product Name */
.products-carousel div p:nth-child(1) a,
.products-carousel div p:nth-child(2) {
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
}

/* Product Colour */
.products-carousel div p:nth-child(2) {
  color: var(--sub-text-grey);
  font-weight: lighter;
  font-size: var(--sub-text-secondary-size);
}

/* Product Price */
.products-carousel div p:nth-child(3) {
  font-size: var(--sub-text-secondary-size);
}
