/* Shoes div column */
.latest-sneakers div div p {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  justify-content: space-evenly;
  width: 100%;
}

/* Shoes Name and colour*/
.latest-sneakers div p:nth-child(1) a,
.latest-sneakers div p:nth-child(2) {
  text-transform: capitalize;
  font-size: var(--sub-text-secondary-size);
}

/* Shoes Colour */
.latest-sneakers div p:nth-child(2) {
  color: var(--sub-text-grey);
  font-weight: lighter;
  font-size: var(--sub-text-secondary-size);
}

/* Shoes Price */
.latest-sneakers div p:nth-child(3) {
  font-size: var(--sub-text-secondary-size);
}
