/* date with images */
.features-carousel-section div div p:nth-child(1),
.launches-section div div p:nth-child(1),
.launches-page-date div div p:nth-child(1),
.featured-articles-category div div p:nth-child(1) {
  display: flex;
  align-items: center;
}

/* date */
.launches-section div:nth-child(1) div p:nth-child(1),
.launches-page-date div:nth-child(1) div p:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: var(--sub-text-small);
  margin: 2%;
  color: black;
  gap: 10px;
  z-index: 1;
}

/* Month */
.launches-section div:nth-child(1) div p:nth-child(1) u,
.launches-page-date div:nth-child(1) div p:nth-child(1) u {
  color: var(--sub-text-grey);
  text-decoration: none;
  font-weight: 600;
}

.launches-page-date div:nth-child(1) div p:nth-child(1) u {
  color: var(--main-text-color-light);
  text-decoration: none;
  font-weight: 600;
}

/* number background */
.launches-section div:nth-child(1) div p:nth-child(1) strong,
.launches-page-date div:nth-child(1) div p:nth-child(1) strong {
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.launches-page-date div div p {
  background-color: rgba(26, 26, 26, 0.25);
  padding: 2%;
}
