/* date with images */
.launches-section div div p:nth-child(1) {
  display: flex;
  align-items: center;
}

/* images */
.launches-section div div img {
  position: relative;
  flex: 1;
}

/* date */
.launches-section div:nth-child(1) div p:nth-child(1) {
  display: flex;
  position: absolute;
  text-transform: uppercase;
  font-size: var(--sub-text-small);
  padding: 2% 1%;
  margin: auto;
  color: black;
  z-index: 1;
}

/* Month */
.launches-section div:nth-child(1) div p:nth-child(1) u {
  color: var(--sub-text-grey);
  text-decoration: none;
}

/* number background */
.launches-section div:nth-child(1) div p:nth-child(1) strong {
  padding: 15%;
  margin-right: 10%;
  background-color: white;
  align-items: center;
}

/* Brand */
.launches-section div p:nth-child(2) {
  text-transform: uppercase;
  font-size: var(--sub-text-small);
  color: var(--sub-text-grey);
}

/* Product Name */
.launches-section div p:nth-child(3) {
  text-transform: uppercase;
  font-size: var(--sub-text-title-large);
  color: var(--sub-text-title-color);
}

/* Product Price */
.launches-section div p:nth-child(4) {
  text-transform: uppercase;
  font-size: var(--sub-text-secondary-size);
  color: var(--sub-text-title-color);
}

.launches-section div:nth-child(2) div p {
  margin: 2% auto;
  display: flex;
}
