/* Trending Section */
.content-feature:nth-child(2) {
  padding: 2% auto;
  margin: auto;
}

/* Trending Column Header */
.content-feature p:nth-child(2) {
  text-transform: uppercase;
  font-size: var(--sub-text-title-large);
  font-weight: var(--sub-text-title-weight);
  letter-spacing: 2px;
  margin: 5px 0;
}

/* Trending Column Colour */
.content-feature p:nth-child(3) {
  font-size: var(--sub-text-secondary-size);
  text-transform: capitalize;
  margin: 1px 0;
}

/* Trending Secion Background Colour */

.gray-background {
  background-color: var(--sub-text-background-color);
}

/* Trending Column Colour */
.content-feature p:nth-child(3) {
  color: var(--sub-text-grey);
}
