.our-apps-hero,
.help-hero,
.gift-cards-hero
{
    text-align: center;
    color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero-container:has(.our-apps-hero),
main .hero-wrapper:has(.our-apps-hero),
main .hero-container:has(.help-hero),
main .hero-wrapper:has(.help-hero),
main .hero-container:has(.gift-cards-hero),
main .hero-wrapper:has(.gift-cards-hero)
{
    max-width: unset;
    padding: 0;
}

/* Our Apps Styling */
.our-apps-hero picture,
.help-hero picture
{
    width: 100%;
}

.our-apps-hero > div > div p:nth-child(1)
{
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: 0.15rem;
    font-weight: 500;
    text-transform: uppercase;
}

.our-apps-hero > div > div p:nth-child(2)
{
    max-width: 550px;
    font-size: 1.22rem;
    line-height: 22px;
    font-weight: 400;
    text-transform: none;
    opacity: 0.8;
}

#apps-icons
{
    margin-top: 10px;
    max-width: 256px;
    height: 40px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto auto;
}

#google-play,#apple-store
{
    margin: auto;
}

#google-play
{
    width: 116px;
    height: inherit;
    background-image: url("https://media.endclothing.com/end-cms/prodcms/4a97b6d3-486c-4263-95a5-0a0b8df1c3c7_Google+Play+Button%403x.png?auto=compress,format");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

#apple-store
{
    width: 116px;
    height: inherit;
    background-image: url("https://media.endclothing.com/end-cms/prodcms/a2435b0d-01ff-4fe5-ad29-78d1789498c9_Apple+Store+Button%403x.png?auto=compress,format");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

/* Help Hero Styling */
#search-help-input
{
  position: relative;
  left: 5px;
  border: none;
  max-width: 1000px;
}

#search-help-input::placeholder
{
  opacity: 0.5;
}

#heyhow-can-we-help
{
  font-size: calc(40px * 0.8);
  line-height: 1.1;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

